/* ==========================================================================
   HEADLINE HELPERS
  ========================================================================== */

.hl-1 {
  font-size: $unit-xxxxxl;
}

.hl-2 {
  font-size: $unit-xxxxl;
}

.hl-3 {
  font-size: $unit-xxxl;
}

.hl-4 {
  font-size: $unit-xxl;
}

.hl-5 {
  font-size: $unit-xl;
}

.hl-6 {
  font-size: $unit-lrg;
}
