/* ==========================================================================
   @LRG HEADLINE
  ========================================================================== */

@include small-laptop {
  .lrg-hl-1 {
    font-size: $unit-xxxxxl;
  }
  .lrg-hl-2 {
    font-size: $unit-xxxxl;
  }
  .lrg-hl-3 {
    font-size: $unit-xxxl;
  }
  .lrg-hl-4 {
    font-size: $unit-xxl;
  }
  .lrg-hl-5 {
    font-size: $unit-xl;
  }
  .lrg-hl-6 {
    font-size: $unit-lrg;
  }
}
