/* ==========================================================================
   @MED HEADLINE
  ========================================================================== */

@include tablet-landscape {
  .med-hl-1 {
    font-size: 72px;
  }
  .med-hl-2 {
    font-size: 64px;
  }
  .med-hl-3 {
    font-size: 56px;
  }
  .med-hl-4 {
    font-size: 48px;
  }
  .med-hl-5 {
    font-size: 40px;
  }
  .med-hl-6 {
    font-size: 32px;
  }
}
