/* ==========================================================================
   @MED HEADLINE
  ========================================================================== */

@include tablet-landscape {
  .med-hl-1 {
    font-size: $unit-xxxxxl;
  }
  .med-hl-2 {
    font-size: $unit-xxxxl;
  }
  .med-hl-3 {
    font-size: $unit-xxxl;
  }
  .med-hl-4 {
    font-size: $unit-xxl;
  }
  .med-hl-5 {
    font-size: $unit-xl;
  }
  .med-hl-6 {
    font-size: $unit-lrg;
  }
}
