/* ==========================================================================
   @TAB HEADLINE
  ========================================================================== */

@include tablet-portrait {
  .tab-hl-1 {
    font-size: $unit-xxxxxl;
  }
  .tab-hl-2 {
    font-size: $unit-xxxxl;
  }
  .tab-hl-3 {
    font-size: $unit-xxxl;
  }
  .tab-hl-4 {
    font-size: $unit-xxl;
  }
  .tab-hl-4-5 {
    font-size: $unit-xlrg;
  }    
  .tab-hl-5 {
    font-size: $unit-xl;
  }
  .tab-hl-5-5 {
    font-size: $unit-large;
  }   
  .tab-hl-6 {
    font-size: $unit-lrg;
  }
  .tab-hl-6-5 {
    font-size: $unit-mx;
  }  
}
