/* ==========================================================================
   @XL HEADLINE
  ========================================================================== */

@include laptop {
  .xl-hl-1 {
    font-size: 72px;
  }
  .xl-hl-2 {
    font-size: 64px;
  }
  .xl-hl-3 {
    font-size: 56px;
  }
  .xl-hl-4 {
    font-size: 48px;
  }
  .xl-hl-5 {
    font-size: 40px;
  }
  .xl-hl-6 {
    font-size: 32px;
  }
}
