/* ==========================================================================
   @XL HEADLINE
  ========================================================================== */

@include laptop {
  .xl-hl-1 {
    font-size: $unit-xxxxxl;
  }
  .xl-hl-2 {
    font-size: $unit-xxxxl;
  }
  .xl-hl-3 {
    font-size: $unit-xxxl;
  }
  .xl-hl-4 {
    font-size: $unit-xxl;
  }
  .xl-hl-4-5 {
    font-size: $unit-xlrg;
  }    
  .xl-hl-5 {
    font-size: $unit-xl;
  }
  .xl-hl-5-5 {
    font-size: $unit-large;
  }   
  .xl-hl-6 {
    font-size: $unit-lrg;
  }
  .xl-hl-6-5 {
    font-size: $unit-mx;
  }  
}
