/* ==========================================================================
   @XL HEADLINE
  ========================================================================== */

@include desktop {
  .xxl-hl-1 {
    font-size: 72px;
  }
  .xxl-hl-2 {
    font-size: 64px;
  }
  .xxl-hl-3 {
    font-size: 56px;
  }
  .xxl-hl-4 {
    font-size: 48px;
  }
  .xxl-hl-5 {
    font-size: 40px;
  }
  .xxl-hl-6 {
    font-size: 32px;
  }
}
