/* ==========================================================================
   12 COLUMN GRIDS @ tablet-landscape mixin tablet-landscape {
     @media only screen and (min-width: 980px) BREAKPOINT
  ========================================================================== */

@include tablet-landscape {

  .med-col-1 {
    width: calc(1 * 100%);
  }

  .med-col-2 {
    width: calc(2 / 12 * 100%);
  }

  .med-col-3 {
    width: calc(3 / 12 * 100%);
  }

  .med-col-4 {
    width: calc(4 / 12 * 100%);
  }

  .med-col-5 {
    width: calc(5 / 12 * 100%);
  }

  .med-col-6 {
    width: calc(6 / 12 * 100%);
  }

  .med-col-7 {
    width: calc(7 / 12 * 100%);
  }

  .med-col-8 {
    width: calc(8 / 12 * 100%);
  }

  .med-col-9 {
    width: calc(9 / 12 * 100%);
  }

  .med-col-10 {
    width: calc(10 / 12 * 100%);
  }

  .med-col-11 {
    width: calc(11 / 12 * 100%);
  }

  .med-col-12 {
    width: 100%;
  }
}
