.bg-size-cover {
  background-size: cover;
}

.bg-size-contain {
  background-size: contain;
}

.bg-size-auto {
  background-size: auto;
}

.bg-repeat {
  background-repeat: repeat;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-repeat-x {
  background-repeat: repeat-x;
}

.bg-repeat-y {
  background-repeat: repeat-y;
}

.bg-repeat-space {
  background-repeat: space;
}

.bg-repeat-round {
  background-repeat: round;
}

.bg-position-top {
  background-position: top;
}

.bg-position-center {
  background-position: center;
}

.bg-position-bottom {
  background-position: bottom;
}

.bg-position-left {
  background-position: left;
}

.bg-position-right {
  background-position: right;
}