/* ==========================================================================
   TYPE HELPERS KERNING LETTER SPACING
  ========================================================================== */

.ls-reset {
  letter-spacing: normal;
}

.ls {
  letter-spacing: 0.5px;
}

.ls-tight {
  letter-spacing: -1px;
}

.ls-medium {
  letter-spacing: 1px;
}

.ls-loose {
  letter-spacing: 2.37px;
}

.ls-xloose {
  letter-spacing: 3px;
}
