/* ==========================================================================
   @LRG TYPE HELPERS ALIGNMENT
  ========================================================================== */

@include small-laptop {
  .lrg-left-align {
    text-align: left
  }
  .lrg-center-align {
    text-align: center
  }
  .lrg-right-align {
    text-align: right
  }
  .lrg-justify {
    text-align: justify
  }
}
