/* ==========================================================================
   @XL TYPE HELPERS ALIGNMENT
  ========================================================================== */

@include laptop {
  .xl-left-align {
    text-align: left;
  }
  .xl-center-align {
    text-align: center;
  }
  .xl-right-align {
    text-align: right;
  }
  .xl-justify {
    text-align: justify;
  }
}
