/* ==========================================================================
  DISPLAY HELPERS
  ========================================================================== */

.f-left {
  float: left
}

.f-right {
  float: right
}

.hide {
  display: none
}

.clear {
  clear: both
}

.block {
  display: block
}

.inline-block {
  display: inline-block
}

.inline {
  display: inline
}

.rotate-45 {
  transform: rotate(45deg)
}


.rotate-90 {
  transform: rotate(90deg)
}
