/* ==========================================================================
   HEADLINE HELPERS
  ========================================================================== */

.hl-1 {
  font-size: 72px;
}

.hl-2 {
  font-size: 64px;
}

.hl-3 {
  font-size: 56px;
}

.hl-4 {
  font-size: 48px;
}

.hl-5 {
  font-size: 40px;
}

.hl-6 {
  font-size: 32px;
}
