/* ==========================================================================
   @LRG HEADLINE
  ========================================================================== */

@include small-laptop {
  .lrg-hl-1 {
    font-size: 72px;
  }
  .lrg-hl-2 {
    font-size: 64px;
  }
  .lrg-hl-3 {
    font-size: 56px;
  }
  .lrg-hl-4 {
    font-size: 48px;
  }
  .lrg-hl-5 {
    font-size: 40px;
  }
  .lrg-hl-6 {
    font-size: 32px;
  }
}
