@include small-laptop {
  .lrg-p0 {
    padding: 0;
  }
  .lrg-pt0 {
    padding-top: 0;
  }
  .lrg-pr0 {
    padding-right: 0;
  }
  .lrg-pb0 {
    padding-bottom: 0;
  }
  .lrg-pl0 {
    padding-left: 0;
  }
  .lrg-px0 {
    padding-left: 0;
    padding-right: 0;
  }
  .lrg-py0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .lrg-p-1 {
    padding: $unit-1;
  }
  .lrg-pt-1 {
    padding-top: $unit-1;
  }
  .lrg-pr-1 {
    padding-right: $unit-1;
  }
  .lrg-pb-1 {
    padding-bottom: $unit-1;
  }
  .lrg-pl-1 {
    padding-left: $unit-1;
  }
  .lrg-px-1 {
    padding-left: $unit-1;
    padding-right: $unit-1;
  }
  .lrg-py-11 {
    padding-top: $unit-odd-small;
    padding-bottom: $unit-odd-small;
  }
  .lrg-p-11 {
    padding: $unit-odd-small;
  }
  .lrg-pt-11 {
    padding-top: $unit-odd-small;
  }
  .lrg-pr-11 {
    padding-right: $unit-odd-small;
  }
  .lrg-pb-11 {
    padding-bottom: $unit-odd-small;
  }
  .lrg-pl-11 {
    padding-left: $unit-odd-small;
  }
  .lrg-px-11 {
    padding-left: $unit-odd-small;
    padding-right: $unit-odd-small;
  }
  .lrg-py-13 {
    padding-top: $unit-odd-xm;
    padding-bottom: $unit-odd-xm;
  }
  .lrg-p-13 {
    padding: $unit-odd-xm;
  }
  .lrg-pt-13 {
    padding-top: $unit-odd-xm;
  }
  .lrg-pr-13 {
    padding-right: $unit-odd-xm;
  }
  .lrg-pb-13 {
    padding-bottom: $unit-odd-xm;
  }
  .lrg-pl-13 {
    padding-left: $unit-odd-xm;
  }
  .lrg-px-13 {
    padding-left: $unit-odd-xm;
    padding-right: $unit-odd-xm;
  }
  .lrg-p-xs {
    padding: $unit-xs;
  }
  .lrg-pt-xs {
    padding-top: $unit-xs;
  }
  .lrg-pr-xs {
    padding-right: $unit-xs;
  }
  .lrg-pb-xs {
    padding-bottom: $unit-xs;
  }
  .lrg-pl-xs {
    padding-left: $unit-xs;
  }
  .lrg-px-xs {
    padding-left: $unit-xs;
    padding-right: $unit-xs;
  }
  .lrg-py-xs {
    padding-top: $unit-xs;
    padding-bottom: $unit-xs;
  }

  .lrg-p-x {
    padding: $unit-x;
  }
  .lrg-pt-x {
    padding-top: $unit-x;
  }
  .lrg-pr-x {
    padding-right: $unit-x;
  }
  .lrg-pb-x {
    padding-bottom: $unit-x;
  }
  .lrg-pl-x {
    padding-left: $unit-x;
  }
  .lrg-px-x {
    padding-left: $unit-x;
    padding-right: $unit-x;
  }
  .lrg-py-x {
    padding-top: $unit-x;
    padding-bottom: $unit-x;
  }

  .lrg-p-xx {
    padding: $unit-xx;
  }
  .lrg-pt-xx {
    padding-top: $unit-xx;
  }
  .lrg-pr-xx {
    padding-right: $unit-xx;
  }
  .lrg-pb-xx {
    padding-bottom: $unit-xx;
  }
  .lrg-pl-xx {
    padding-left: $unit-xx;
  }
  .lrg-px-xx {
    padding-left: $unit-xx;
    padding-right: $unit-xx;
  }
  .lrg-py-xx {
    padding-top: $unit-xx;
    padding-bottom: $unit-xx;
  }

  .lrg-p-xxx {
    padding: $unit-xxx;
  }
  .lrg-pt-xxx {
    padding-top: $unit-xxx;
  }
  .lrg-pr-xxx {
    padding-right: $unit-xxx;
  }
  .lrg-pb-xxx {
    padding-bottom: $unit-xxx;
  }
  .lrg-pl-xxx {
    padding-left: $unit-xxx;
  }
  .lrg-px-xxx {
    padding-left: $unit-xxx;
    padding-right: $unit-xxx;
  }
  .lrg-py-xxx {
    padding-top: $unit-xxx;
    padding-bottom: $unit-xxx;
  }

  .lrg-p-small {
    padding: $unit-small;
  }
  .lrg-pt-small {
    padding-top: $unit-small;
  }
  .lrg-pr-small {
    padding-right: $unit-small;
  }
  .lrg-pb-small {
    padding-bottom: $unit-small;
  }
  .lrg-pl-small {
    padding-left: $unit-small;
  }
  .lrg-px-small {
    padding-left: $unit-small;
    padding-right: $unit-small;
  }
  .lrg-py-small {
    padding-top: $unit-small;
    padding-bottom: $unit-small;
  }

  .lrg-p-xxxm {
    padding: $unit-xxxm;
  }
  .lrg-pt-xxxm {
    padding-top: $unit-xxxm;
  }
  .lrg-pr-xxxm {
    padding-right: $unit-xxxm;
  }
  .lrg-pb-xxxm {
    padding-bottom: $unit-xxxm;
  }
  .lrg-pl-xxxm {
    padding-left: $unit-xxxm;
  }
  .lrg-px-xxxm {
    padding-left: $unit-xxxm;
    padding-right: $unit-xxxm;
  }
  .lrg-py-xxxm {
    padding-top: $unit-xxxm;
    padding-bottom: $unit-xxxm;
  }
  
  .lrg-p-medium {
    padding: $unit-medium;
  }
  .lrg-pt-medium {
    padding-top: $unit-medium;
  }
  .lrg-pr-medium {
    padding-right: $unit-medium;
  }
  .lrg-pb-medium {
    padding-bottom: $unit-medium;
  }
  .lrg-pl-medium {
    padding-left: $unit-medium;
  }
  .lrg-px-medium {
    padding-left: $unit-medium;
    padding-right: $unit-medium;
  }
  .lrg-py-medium {
    padding-top: $unit-medium;
    padding-bottom: $unit-medium;
  }

  .lrg-p-mx {
    padding: $unit-mx;
  }
  .lrg-pt-mx {
    padding-top: $unit-mx;
  }
  .lrg-pr-mx {
    padding-right: $unit-mx;
  }
  .lrg-pb-mx {
    padding-bottom: $unit-mx;
  }
  .lrg-pl-mx {
    padding-left: $unit-mx;
  }
  .lrg-px-mx {
    padding-left: $unit-mx;
    padding-right: $unit-mx;
  }
  .lrg-py-mx {
    padding-top: $unit-mx;
    padding-bottom: $unit-mx;
  } 

  .lrg-py-27 {
    padding-top: $unit-odd-mxx;
    padding-bottom: $unit-odd-mxx;
  }
  .lrg-p-27 {
    padding: $unit-odd-mxx;
  }
  .lrg-pt-27 {
    padding-top: $unit-odd-mxx;
  }
  .lrg-pr-27 {
    padding-right: $unit-odd-mxx;
  }
  .lrg-pb-27 {
    padding-bottom: $unit-odd-mxx;
  }
  .lrg-pl-27 {
    padding-left: $unit-odd-mxx;
  }
  .lrg-px-27 {
    padding-left: $unit-odd-mxx;
    padding-right: $unit-odd-mxx;
  }

  .lrg-p-mxxx {
    padding: $unit-mxxx;
  }
  .lrg-pt-mxxx {
    padding-top: $unit-mxxx;
  }
  .lrg-pr-mxxx {
    padding-right: $unit-mxxx;
  }
  .lrg-pb-mxxx {
    padding-bottom: $unit-mxxx;
  }
  .lrg-pl-mxxx {
    padding-left: $unit-mxxx;
  }
  .lrg-px-mxxx {
    padding-left: $unit-mxxx;
    padding-right: $unit-mxxx;
  }
  .lrg-py-mxxx {
    padding-top: $unit-mxxx;
    padding-bottom: $unit-mxxx;
  }  

  .lrg-p-lrg {
    padding: $unit-lrg;
  }
  .lrg-pt-lrg {
    padding-top: $unit-lrg;
  }
  .lrg-pr-lrg {
    padding-right: $unit-lrg;
  }
  .lrg-pb-lrg {
    padding-bottom: $unit-lrg;
  }
  .lrg-pl-lrg {
    padding-left: $unit-lrg;
  }
  .lrg-px-lrg {
    padding-left: $unit-lrg;
    padding-right: $unit-lrg;
  }
  .lrg-py-lrg {
    padding-top: $unit-lrg;
    padding-bottom: $unit-lrg;
  }

  .lrg-px-l {
    padding-left: $unit-l;
    padding-right: $unit-l;
  }
  .lrg-py-l {
    padding-top: $unit-l;
    padding-bottom: $unit-l;
  }
  .lrg-pt-l {
    padding-top: $unit-l;
  }
  .lrg-pb-l {
    padding-bottom: $unit-l;
  }
  .lrg-pl-l {
    padding-left: $unit-l;
  }
  .lrg-pr-l {
    padding-right: $unit-l;
  }
  .lrg-p-l {
    padding: $unit-l;
  }

  .lrg-p-xl {
    padding: $unit-xl;
  }
  .lrg-pt-xl {
    padding-top: $unit-xl;
  }
  .lrg-pr-xl {
    padding-right: $unit-xl;
  }
  .lrg-pb-xl {
    padding-bottom: $unit-xl;
  }
  .lrg-pl-xl {
    padding-left: $unit-xl;
  }
  .lrg-px-xl {
    padding-left: $unit-xl;
    padding-right: $unit-xl;
  }
  .lrg-py-xl {
    padding-top: $unit-xl;
    padding-bottom: $unit-xl;
  }

  .lrg-p-xxl {
    padding: $unit-xxl;
  }
  .lrg-pt-xxl {
    padding-top: $unit-xxl;
  }
  .lrg-pr-xxl {
    padding-right: $unit-xxl;
  }
  .lrg-pb-xxl {
    padding-bottom: $unit-xxl;
  }
  .lrg-pl-xxl {
    padding-left: $unit-xxl;
  }
  .lrg-px-xxl {
    padding-left: $unit-xxl;
    padding-right: $unit-xxl;
  }
  .lrg-py-xxl {
    padding-top: $unit-xxl;
    padding-bottom: $unit-xxl;
  }

  .lrg-p-xxlrg {
    padding: $unit-xxlrg;
  }
  .lrg-pt-xxlrg {
    padding-top: $unit-xxlrg;
  }
  .lrg-pr-xxlrg {
    padding-right: $unit-xxlrg;
  }
  .lrg-pb-xxlrg {
    padding-bottom: $unit-xxlrg;
  }
  .lrg-pl-xxlrg {
    padding-left: $unit-xxlrg;
  }
  .lrg-px-xxlrg {
    padding-left: $unit-xxlrg;
    padding-right: $unit-xxlrg;
  }
  .lrg-py-xxlrg {
    padding-top: $unit-xxlrg;
    padding-bottom: $unit-xxlrg;
  }

  .lrg-p-xxxl {
    padding: $unit-xxxl;
  }
  .lrg-pt-xxxl {
    padding-top: $unit-xxxl;
  }
  .lrg-pr-xxxl {
    padding-right: $unit-xxxl;
  }
  .lrg-pb-xxxl {
    padding-bottom: $unit-xxxl;
  }
  .lrg-pl-xxxl {
    padding-left: $unit-xxxl;
  }
  .lrg-px-xxxl {
    padding-left: $unit-xxxl;
    padding-right: $unit-xxxl;
  }
  .lrg-py-xxxl {
    padding-top: $unit-xxxl;
    padding-bottom: $unit-xxxl;
  }

  .lrg-p-xxxxl {
    padding: $unit-xxxxl;
  }
  .lrg-pt-xxxxl {
    padding-top: $unit-xxxxl;
  }
  .lrg-pr-xxxxl {
    padding-right: $unit-xxxxl;
  }
  .lrg-pb-xxxxl {
    padding-bottom: $unit-xxxxl;
  }
  .lrg-pl-xxxxl {
    padding-left: $unit-xxxxl;
  }
  .lrg-px-xxxxl {
    padding-left: $unit-xxxxl;
    padding-right: $unit-xxxxl;
  }
  .lrg-py-xxxxl {
    padding-top: $unit-xxxxl;
    padding-bottom: $unit-xxxxl;
  }

  .lrg-p-xxxxxl {
    padding: $unit-xxxxxl;
  }
  .lrg-pt-xxxxxl {
    padding-top: $unit-xxxxxl;
  }
  .lrg-pr-xxxxxl {
    padding-right: $unit-xxxxxl;
  }
  .lrg-pb-xxxxxl {
    padding-bottom: $unit-xxxxxl;
  }
  .lrg-pl-xxxxxl {
    padding-left: $unit-xxxxxl;
  }
  .lrg-px-xxxxxl {
    padding-left: $unit-xxxxxl;
    padding-right: $unit-xxxxxl;
  }
  .lrg-py-xxxxxl {
    padding-top: $unit-xxxxxl;
    padding-bottom: $unit-xxxxxl;
  }
  .lrg-px-xxxxxxl {
    padding-left: $unit-xxxxxxl;
    padding-right: $unit-xxxxxxl;
  }

  .lrg-py-xxxxxxl {
    padding-top: $unit-xxxxxxl;
    padding-bottom: $unit-xxxxxxl;
  }
  .lrg-pt-xxxxxxxl {
    padding-top: $unit-xxxxxxxl;
  }
  .lrg-pb-xxxxxxxl {
    padding-bottom: $unit-xxxxxxxl;
  }
  .lrg-px-xxxxxxxl {
    padding-left: $unit-xxxxxxxl;
    padding-right: $unit-xxxxxxxl;
  }
  .lrg-py-xxxxxxxl {
    padding-top: $unit-xxxxxxxl;
    padding-bottom: $unit-xxxxxxxl;
  }
  .lrg-pt-xxxxxxxxl {
    padding-top: $unit-xxxxxxxxl;
  }
  .lrg-pb-xxxxxxxxl {
    padding-bottom: $unit-xxxxxxxxl;
  }
}
