/* ==========================================================================
  RESPONSIVE HELPERS SMALL LAPTOP BREAKPOINT PADDING HELPERS
  ========================================================================== */
@include small-laptop {
  .lrg-p0 {
    padding: 0
  }
  .lrg-pt0 {
    padding-top: 0
  }
  .lrg-pr0 {
    padding-right: 0
  }
  .lrg-pb0 {
    padding-bottom: 0
  }
  .lrg-pl0 {
    padding-left: 0
  }
  .lrg-px0 {
    padding-left: 0;
    padding-right: 0
  }
  .lrg-py0 {
    padding-top: 0;
    padding-bottom: 0
  }

  .lrg-p-xs {
    padding: $unit-xs
  }
  .lrg-pt-xs {
    padding-top: $unit-xs
  }
  .lrg-pr-xs {
    padding-right: $unit-xs
  }
  .lrg-pb-xs {
    padding-bottom: $unit-xs
  }
  .lrg-pl-xs {
    padding-left: $unit-xs
  }
  .lrg-px-xs {
    padding-left: $unit-xs;
    padding-right: $unit-xs
  }
  .lrg-py-xs {
    padding-top: $unit-xs;
    padding-bottom: $unit-xs
  }

  .lrg-p-x {
    padding: $unit-x
  }
  .lrg-pt-x {
    padding-top: $unit-x
  }
  .lrg-pr-x {
    padding-right: $unit-x
  }
  .lrg-pb-x {
    padding-bottom: $unit-x
  }
  .lrg-pl-x {
    padding-left: $unit-x
  }
  .lrg-px-x {
    padding-left: $unit-x;
    padding-right: $unit-x
  }
  .lrg-py-x {
    padding-top: $unit-x;
    padding-bottom: $unit-x
  }

  .lrg-p-small {
    padding: $unit-small
  }
  .lrg-pt-small {
    padding-top: $unit-small
  }
  .lrg-pr-small {
    padding-right: $unit-small
  }
  .lrg-pb-small {
    padding-bottom: $unit-small
  }
  .lrg-pl-small {
    padding-left: $unit-small
  }
  .lrg-px-small {
    padding-left: $unit-small;
    padding-right: $unit-small
  }
  .lrg-py-small {
    padding-top: $unit-small;
    padding-bottom: $unit-small
  }

  .lrg-p-medium {
    padding: $unit-medium
  }
  .lrg-pt-medium {
    padding-top: $unit-medium
  }
  .lrg-pr-medium {
    padding-right: $unit-medium
  }
  .lrg-pb-medium {
    padding-bottom: $unit-medium
  }
  .lrg-pl-medium {
    padding-left: $unit-medium
  }
  .lrg-px-medium {
    padding-left: $unit-medium;
    padding-right: $unit-medium
  }
  .lrg-py-medium {
    padding-top: $unit-medium;
    padding-bottom: $unit-medium
  }

  .lrg-p-lrg {
    padding: $unit-lrg
  }
  .lrg-pt-lrg {
    padding-top: $unit-lrg
  }
  .lrg-pr-lrg {
    padding-right: $unit-lrg
  }
  .lrg-pb-lrg {
    padding-bottom: $unit-lrg
  }
  .lrg-pl-lrg {
    padding-left: $unit-lrg
  }
  .lrg-px-lrg {
    padding-left: $unit-lrg;
    padding-right: $unit-lrg
  }
  .lrg-py-lrg {
    padding-top: $unit-lrg;
    padding-bottom: $unit-lrg
  }

  .lrg-p-xl {
    padding: $unit-xl
  }
  .lrg-pt-xl {
    padding-top: $unit-xl
  }
  .lrg-pr-xl {
    padding-right: $unit-xl
  }
  .lrg-pb-xl {
    padding-bottom: $unit-xl
  }
  .lrg-pl-xl {
    padding-left: $unit-xl
  }
  .lrg-px-xl {
    padding-left: $unit-xl;
    padding-right: $unit-xl
  }
  .lrg-py-xl {
    padding-top: $unit-xl;
    padding-bottom: $unit-xl
  }

  .lrg-p-xxl {
    padding: $unit-xxl
  }
  .lrg-pt-xxl {
    padding-top: $unit-xxl
  }
  .lrg-pr-xxl {
    padding-right: $unit-xxl
  }
  .lrg-pb-xxl {
    padding-bottom: $unit-xxl
  }
  .lrg-pl-xxl {
    padding-left: $unit-xxl
  }
  .lrg-px-xxl {
    padding-left: $unit-xxl;
    padding-right: $unit-xxl
  }
  .lrg-py-xxl {
    padding-top: $unit-xxl;
    padding-bottom: $unit-xxl
  }

  .lrg-p-xxxl {
    padding: $unit-xxxl
  }
  .lrg-pt-xxxl {
    padding-top: $unit-xxxl
  }
  .lrg-pr-xxxl {
    padding-right: $unit-xxxl
  }
  .lrg-pb-xxxl {
    padding-bottom: $unit-xxxl
  }
  .lrg-pl-xxxl {
    padding-left: $unit-xxxl
  }
  .lrg-px-xxxl {
    padding-left: $unit-xxxl;
    padding-right: $unit-xxxl
  }
  .lrg-py-xxxl {
    padding-top: $unit-xxxl;
    padding-bottom: $unit-xxxl
  }

  .lrg-p-xxxxl {
    padding: $unit-xxxxl
  }
  .lrg-pt-xxxxl {
    padding-top: $unit-xxxxl
  }
  .lrg-pr-xxxxl {
    padding-right: $unit-xxxxl
  }
  .lrg-pb-xxxxl {
    padding-bottom: $unit-xxxxl
  }
  .lrg-pl-xxxxl {
    padding-left: $unit-xxxxl
  }
  .lrg-px-xxxxl {
    padding-left: $unit-xxxxl;
    padding-right: $unit-xxxxl
  }
  .lrg-py-xxxxl {
    padding-top: $unit-xxxxl;
    padding-bottom: $unit-xxxxl
  }

  .lrg-p-xxxxxl {
    padding: $unit-xxxxxl;
  }
  .lrg-pt-xxxxxl {
    padding-top: $unit-xxxxxl;
  }
  .lrg-pr-xxxxxl {
    padding-right: $unit-xxxxxl;
  }
  .lrg-pb-xxxxxl {
    padding-bottom: $unit-xxxxxl;
  }
  .lrg-pl-xxxxxl {
    padding-left: $unit-xxxxxl;
  }
  .lrg-px-xxxxxl {
    padding-left: $unit-xxxxxl;
    padding-right: $unit-xxxxxl;
  }
  .lrg-py-xxxxxl {
    padding-top: $unit-xxxxxl;
    padding-bottom: $unit-xxxxxl;
  }
  .lrg-px-xxxxxxl {
    padding-left: $unit-xxxxxxl;
    padding-right: $unit-xxxxxxl;
  }

  .lrg-py-xxxxxxl {
    padding-top: $unit-xxxxxxl;
    padding-bottom: $unit-xxxxxxl;
  }

  .lrg-pt-xxxxxxxl {
    padding-top: $unit-xxxxxxxl;
  }

  .lrg-pb-xxxxxxxl {
    padding-bottom: $unit-xxxxxxxl;
  }

  .lrg-px-xxxxxxxl {
    padding-left: $unit-xxxxxxxl;
    padding-right: $unit-xxxxxxxl;
  }

  .lrg-py-xxxxxxxl {
    padding-top: $unit-xxxxxxxl;
    padding-bottom: $unit-xxxxxxxl;
  }

  .lrg-pt-xxxxxxxxl {
    padding-top: $unit-xxxxxxxxl;
  }

  .lrg-pb-xxxxxxxxl {
    padding-bottom: $unit-xxxxxxxxl;
  }

}
