@include tablet-landscape {
  .med-p0 {
    padding: 0;
  }
  .med-pt0 {
    padding-top: 0;
  }
  .med-pr0 {
    padding-right: 0;
  }
  .med-pb0 {
    padding-bottom: 0;
  }
  .med-pl0 {
    padding-left: 0;
  }
  .med-px0 {
    padding-left: 0;
    padding-right: 0;
  }
  .med-py0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .med-p-1 {
    padding: $unit-1;
  }
  .med-pt-1 {
    padding-top: $unit-1;
  }
  .med-pr-1 {
    padding-right: $unit-1;
  }
  .med-pb-1 {
    padding-bottom: $unit-1;
  }
  .med-pl-1 {
    padding-left: $unit-1;
  }
  .med-px-1 {
    padding-left: $unit-1;
    padding-right: $unit-1;
  }
  .med-py-11 {
    padding-top: $unit-odd-small;
    padding-bottom: $unit-odd-small;
  }
  .med-p-11 {
    padding: $unit-odd-small;
  }
  .med-pt-11 {
    padding-top: $unit-odd-small;
  }
  .med-pr-11 {
    padding-right: $unit-odd-small;
  }
  .med-pb-11 {
    padding-bottom: $unit-odd-small;
  }
  .med-pl-11 {
    padding-left: $unit-odd-small;
  }
  .med-px-11 {
    padding-left: $unit-odd-small;
    padding-right: $unit-odd-small;
  }
  .med-py-13 {
    padding-top: $unit-odd-xm;
    padding-bottom: $unit-odd-xm;
  }
  .med-p-13 {
    padding: $unit-odd-xm;
  }
  .med-pt-13 {
    padding-top: $unit-odd-xm;
  }
  .med-pr-13 {
    padding-right: $unit-odd-xm;
  }
  .med-pb-13 {
    padding-bottom: $unit-odd-xm;
  }
  .med-pl-13 {
    padding-left: $unit-odd-xm;
  }
  .med-px-13 {
    padding-left: $unit-odd-xm;
    padding-right: $unit-odd-xm;
  }
  .med-p-xs {
    padding: $unit-xs;
  }
  .med-pt-xs {
    padding-top: $unit-xs;
  }
  .med-pr-xs {
    padding-right: $unit-xs;
  }
  .med-pb-xs {
    padding-bottom: $unit-xs;
  }
  .med-pl-xs {
    padding-left: $unit-xs;
  }
  .med-px-xs {
    padding-left: $unit-xs;
    padding-right: $unit-xs;
  }
  .med-py-xs {
    padding-top: $unit-xs;
    padding-bottom: $unit-xs;
  }

  .med-p-xx {
    padding: $unit-xx;
  }
  .med-pt-xx {
    padding-top: $unit-xx;
  }
  .med-pr-xx {
    padding-right: $unit-xx;
  }
  .med-pb-xx {
    padding-bottom: $unit-xx;
  }
  .med-pl-xx {
    padding-left: $unit-xx;
  }
  .med-px-xx {
    padding-left: $unit-xx;
    padding-right: $unit-xx;
  }
  .med-py-xx {
    padding-top: $unit-xx;
    padding-bottom: $unit-xx;
  }

  .med-p-xxx {
    padding: $unit-xxx;
  }
  .med-pt-xxx {
    padding-top: $unit-xxx;
  }
  .med-pr-xxx {
    padding-right: $unit-xxx;
  }
  .med-pb-xxx {
    padding-bottom: $unit-xxx;
  }
  .med-pl-xxx {
    padding-left: $unit-xxx;
  }
  .med-px-xxx {
    padding-left: $unit-xxx;
    padding-right: $unit-xxx;
  }
  .med-py-xxx {
    padding-top: $unit-xxx;
    padding-bottom: $unit-xxx;
  }

  .med-p-small {
    padding: $unit-small;
  }
  .med-pt-small {
    padding-top: $unit-small;
  }
  .med-pr-small {
    padding-right: $unit-small;
  }
  .med-pb-small {
    padding-bottom: $unit-small;
  }
  .med-pl-small {
    padding-left: $unit-small;
  }
  .med-px-small {
    padding-left: $unit-small;
    padding-right: $unit-small;
  }
  .med-py-small {
    padding-top: $unit-small;
    padding-bottom: $unit-small;
  }

  .med-p-xxxm {
    padding: $unit-xxxm;
  }
  .med-pt-xxxm {
    padding-top: $unit-xxxm;
  }
  .med-pr-xxxm {
    padding-right: $unit-xxxm;
  }
  .med-pb-xxxm {
    padding-bottom: $unit-xxxm;
  }
  .med-pl-xxxm {
    padding-left: $unit-xxxm;
  }
  .med-px-xxxm {
    padding-left: $unit-xxxm;
    padding-right: $unit-xxxm;
  }
  .med-py-xxxm {
    padding-top: $unit-xxxm;
    padding-bottom: $unit-xxxm;
  }  

  .med-p-medium {
    padding: $unit-medium;
  }
  .med-pt-medium {
    padding-top: $unit-medium;
  }
  .med-pr-medium {
    padding-right: $unit-medium;
  }
  .med-pb-medium {
    padding-bottom: $unit-medium;
  }
  .med-pl-medium {
    padding-left: $unit-medium;
  }
  .med-px-medium {
    padding-left: $unit-medium;
    padding-right: $unit-medium;
  }
  .med-py-medium {
    padding-top: $unit-medium;
    padding-bottom: $unit-medium;
  }

  .med-p-mx {
    padding: $unit-mx;
  }
  .med-pt-mx {
    padding-top: $unit-mx;
  }
  .med-pr-mx {
    padding-right: $unit-mx;
  }
  .med-pb-mx {
    padding-bottom: $unit-mx;
  }
  .med-pl-mx {
    padding-left: $unit-mx;
  }
  .med-px-mx {
    padding-left: $unit-mx;
    padding-right: $unit-mx;
  }
  .med-py-mx {
    padding-top: $unit-mx;
    padding-bottom: $unit-mx;
  }  
  .med-py-27 {
    padding-top: $unit-odd-mxx;
    padding-bottom: $unit-odd-mxx;
  }
  .med-p-27 {
    padding: $unit-odd-mxx;
  }
  .med-pt-27 {
    padding-top: $unit-odd-mxx;
  }
  .med-pr-27 {
    padding-right: $unit-odd-mxx;
  }
  .med-pb-27 {
    padding-bottom: $unit-odd-mxx;
  }
  .med-pl-27 {
    padding-left: $unit-odd-mxx;
  }
  .med-px-27 {
    padding-left: $unit-odd-mxx;
    padding-right: $unit-odd-mxx;
  }
  .med-p-mxxx {
    padding: $unit-mxxx;
  }
  .med-pt-mxxx {
    padding-top: $unit-mxxx;
  }
  .med-pr-mxxx {
    padding-right: $unit-mxxx;
  }
  .med-pb-mxxx {
    padding-bottom: $unit-mxxx;
  }
  .med-pl-mxxx {
    padding-left: $unit-mxxx;
  }
  .med-px-mxxx {
    padding-left: $unit-mxxx;
    padding-right: $unit-mxxx;
  }
  .med-py-mxxx {
    padding-top: $unit-mxxx;
    padding-bottom: $unit-mxxx;
  }  

  .med-p-lrg {
    padding: $unit-lrg;
  }
  .med-pt-lrg {
    padding-top: $unit-lrg;
  }
  .med-pr-lrg {
    padding-right: $unit-lrg;
  }
  .med-pb-lrg {
    padding-bottom: $unit-lrg;
  }
  .med-pl-lrg {
    padding-left: $unit-lrg;
  }
  .med-px-lrg {
    padding-left: $unit-lrg;
    padding-right: $unit-lrg;
  }
  .med-py-lrg {
    padding-top: $unit-lrg;
    padding-bottom: $unit-lrg;
  }

  .med-px-l {
    padding-left: $unit-l;
    padding-right: $unit-l;
  }
  .med-py-l {
    padding-top: $unit-l;
    padding-bottom: $unit-l;
  }
  .med-pt-l {
    padding-top: $unit-l;
  }
  .med-pb-l {
    padding-bottom: $unit-l;
  }
  .med-pl-l {
    padding-left: $unit-l;
  }
  .med-pr-l {
    padding-right: $unit-l;
  }
  .med-p-l {
    padding: $unit-l;
  }

  .med-p-xl {
    padding: $unit-xl;
  }
  .med-pt-xl {
    padding-top: $unit-xl;
  }
  .med-pr-xl {
    padding-right: $unit-xl;
  }
  .med-pb-xl {
    padding-bottom: $unit-xl;
  }
  .med-pl-xl {
    padding-left: $unit-xl;
  }
  .med-px-xl {
    padding-left: $unit-xl;
    padding-right: $unit-xl;
  }
  .med-py-xl {
    padding-top: $unit-xl;
    padding-bottom: $unit-xl;
  }

  .med-p-xxl {
    padding: $unit-xxl;
  }
  .med-pt-xxl {
    padding-top: $unit-xxl;
  }
  .med-pr-xxl {
    padding-right: $unit-xxl;
  }
  .med-pb-xxl {
    padding-bottom: $unit-xxl;
  }
  .med-pl-xxl {
    padding-left: $unit-xxl;
  }
  .med-px-xxl {
    padding-left: $unit-xxl;
    padding-right: $unit-xxl;
  }
  .med-py-xxl {
    padding-top: $unit-xxl;
    padding-bottom: $unit-xxl;
  }

  .med-p-xxlrg {
    padding: $unit-xxlrg;
  }
  .med-pt-xxlrg {
    padding-top: $unit-xxlrg;
  }
  .med-pr-xxlrg {
    padding-right: $unit-xxlrg;
  }
  .med-pb-xxlrg {
    padding-bottom: $unit-xxlrg;
  }
  .med-pl-xxlrg {
    padding-left: $unit-xxlrg;
  }
  .med-px-xxlrg {
    padding-left: $unit-xxlrg;
    padding-right: $unit-xxlrg;
  }
  .med-py-xxlrg {
    padding-top: $unit-xxlrg;
    padding-bottom: $unit-xxlrg;
  }

  .med-p-xxxl {
    padding: $unit-xxxl;
  }
  .med-pt-xxxl {
    padding-top: $unit-xxxl;
  }
  .med-pr-xxxl {
    padding-right: $unit-xxxl;
  }
  .med-pb-xxxl {
    padding-bottom: $unit-xxxl;
  }
  .med-pl-xxxl {
    padding-left: $unit-xxxl;
  }
  .med-px-xxxl {
    padding-left: $unit-xxxl;
    padding-right: $unit-xxxl;
  }
  .med-py-xxxl {
    padding-top: $unit-xxxl;
    padding-bottom: $unit-xxxl;
  }

  .med-p-xxxxl {
    padding: $unit-xxxxl;
  }
  .med-pt-xxxxl {
    padding-top: $unit-xxxxl;
  }
  .med-pr-xxxxl {
    padding-right: $unit-xxxxl;
  }
  .med-pb-xxxxl {
    padding-bottom: $unit-xxxxl;
  }
  .med-pl-xxxxl {
    padding-left: $unit-xxxxl;
  }
  .med-px-xxxxl {
    padding-left: $unit-xxxxl;
    padding-right: $unit-xxxxl;
  }
  .med-py-xxxxl {
    padding-top: $unit-xxxxl;
    padding-bottom: $unit-xxxxl;
  }

  .med-p-xxxxxl {
    padding: $unit-xxxxxl;
  }
  .med-pt-xxxxxl {
    padding-top: $unit-xxxxxl;
  }
  .med-pr-xxxxxl {
    padding-right: $unit-xxxxxl;
  }
  .med-pb-xxxxxl {
    padding-bottom: $unit-xxxxxl;
  }
  .med-pl-xxxxxl {
    padding-left: $unit-xxxxxl;
  }
  .med-px-xxxxxl {
    padding-left: $unit-xxxxxl;
    padding-right: $unit-xxxxxl;
  }
  .med-py-xxxxxl {
    padding-top: $unit-xxxxxl;
    padding-bottom: $unit-xxxxxl;
  }
  .med-px-xxxxxxl {
    padding-left: $unit-xxxxxxl;
    padding-right: $unit-xxxxxxl;
  }

  .med-py-xxxxxxl {
    padding-top: $unit-xxxxxxl;
    padding-bottom: $unit-xxxxxxl;
  }
  .med-pt-xxxxxxxl {
    padding-top: $unit-xxxxxxxl;
  }
  .med-pb-xxxxxxxl {
    padding-bottom: $unit-xxxxxxxl;
  }
  .med-px-xxxxxxxl {
    padding-left: $unit-xxxxxxxl;
    padding-right: $unit-xxxxxxxl;
  }
  .med-py-xxxxxxxl {
    padding-top: $unit-xxxxxxxl;
    padding-bottom: $unit-xxxxxxxl;
  }
  .med-pt-xxxxxxxxl {
    padding-top: $unit-xxxxxxxxl;
  }
  .med-pb-xxxxxxxxl {
    padding-bottom: $unit-xxxxxxxxl;
  }
}
