.p0 {
  padding: 0;
}

.pt0 {
  padding-top: 0;
}

.pr0 {
  padding-right: 0;
}

.pb0 {
  padding-bottom: 0;
}

.pl0 {
  padding-left: 0;
}

.px0 {
  padding-left: 0;
  padding-right: 0;
}

.py0 {
  padding-top: 0;
  padding-bottom: 0;
}

.p-1 {
  padding: $unit-1;
}

.pt-1 {
  padding-top: $unit-1;
}

.pr-1 {
  padding-right: $unit-1;
}

.pb-1 {
  padding-bottom: $unit-1;
}

.pl-1 {
  padding-left: $unit-1;
}

.px-1 {
  padding-left: $unit-1;
  padding-right: $unit-1;
}

.py-11 {
  padding-top: $unit-odd-small;
  padding-bottom: $unit-odd-small;
}

.p-11 {
  padding: $unit-odd-small;
}

.pt-11 {
  padding-top: $unit-odd-small;
}

.pr-11 {
  padding-right: $unit-odd-small;
}

.pb-11 {
  padding-bottom: $unit-odd-small;
}

.pl-11 {
  padding-left: $unit-odd-small;
}

.px-11 {
  padding-left: $unit-odd-small;
  padding-right: $unit-odd-small;
}

.py-13 {
  padding-top: $unit-odd-xm;
  padding-bottom: $unit-odd-xm;
}

.p-13 {
  padding: $unit-odd-xm;
}

.pt-13 {
  padding-top: $unit-odd-xm;
}

.pr-13 {
  padding-right: $unit-odd-xm;
}

.pb-13 {
  padding-bottom: $unit-odd-xm;
}

.pl-13 {
  padding-left: $unit-odd-xm;
}

.px-13 {
  padding-left: $unit-odd-xm;
  padding-right: $unit-odd-xm;
}

.p-xs {
  padding: $unit-xs;
}

.pt-xs {
  padding-top: $unit-xs;
}

.pr-xs {
  padding-right: $unit-xs;
}

.pb-xs {
  padding-bottom: $unit-xs;
}

.pl-xs {
  padding-left: $unit-xs;
}

.px-xs {
  padding-left: $unit-xs;
  padding-right: $unit-xs;
}

.py-xs {
  padding-top: $unit-xs;
  padding-bottom: $unit-xs;
}

.p-x {
  padding: $unit-x;
}

.pt-x {
  padding-top: $unit-x;
}

.pr-x {
  padding-right: $unit-x;
}

.pb-x {
  padding-bottom: $unit-x;
}

.pl-x {
  padding-left: $unit-x;
}

.px-x {
  padding-left: $unit-x;
  padding-right: $unit-x;
}

.py-x {
  padding-top: $unit-x;
  padding-bottom: $unit-x;
}

.p-xx {
  padding: $unit-xx;
}

.pt-xx {
  padding-top: $unit-xx;
}

.pr-xx {
  padding-right: $unit-xx;
}

.pb-xx {
  padding-bottom: $unit-xx;
}

.pl-xx {
  padding-left: $unit-xx;
}

.px-xx {
  padding-left: $unit-xx;
  padding-right: $unit-xx;
}

.py-xx {
  padding-top: $unit-xx;
  padding-bottom: $unit-xx;
}

.p-xxx {
  padding: $unit-xxx;
}

.pt-xxx {
  padding-top: $unit-xxx;
}

.pr-xxx {
  padding-right: $unit-xxx;
}

.pb-xxx {
  padding-bottom: $unit-xxx;
}

.pl-xxx {
  padding-left: $unit-xxx;
}

.px-xxx {
  padding-left: $unit-xxx;
  padding-right: $unit-xxx;
}

.py-xxx {
  padding-top: $unit-xxx;
  padding-bottom: $unit-xxx;
}

.p-small {
  padding: $unit-small;
}

.pt-small {
  padding-top: $unit-small;
}

.pr-small {
  padding-right: $unit-small;
}

.pb-small {
  padding-bottom: $unit-small;
}

.pl-small {
  padding-left: $unit-small;
}

.px-small {
  padding-left: $unit-small;
  padding-right: $unit-small;
}

.py-small {
  padding-top: $unit-small;
  padding-bottom: $unit-small;
}

.p-xxxm {
  padding: $unit-xxxm;
}

.pt-xxxm {
  padding-top: $unit-xxxm;
}

.pr-xxxm {
  padding-right: $unit-xxxm;
}

.pb-xxxm {
  padding-bottom: $unit-xxxm;
}

.pl-xxxm {
  padding-left: $unit-xxxm;
}

.px-xxxm {
  padding-left: $unit-xxxm;
  padding-right: $unit-xxxm;
}

.py-xxxm {
  padding-top: $unit-xxxm;
  padding-bottom: $unit-xxxm;
}

.p-medium {
  padding: $unit-medium;
}

.pt-medium {
  padding-top: $unit-medium;
}

.pr-medium {
  padding-right: $unit-medium;
}

.pb-medium {
  padding-bottom: $unit-medium;
}

.pl-medium {
  padding-left: $unit-medium;
}

.px-medium {
  padding-left: $unit-medium;
  padding-right: $unit-medium;
}

.py-medium {
  padding-top: $unit-medium;
  padding-bottom: $unit-medium;
}

.p-mx {
  padding: $unit-mx;
}

.pt-mx {
  padding-top: $unit-mx;
}

.pr-mx {
  padding-right: $unit-mx;
}

.pb-mx {
  padding-bottom: $unit-mx;
}

.pl-mx {
  padding-left: $unit-mx;
}

.px-mx {
  padding-left: $unit-mx;
  padding-right: $unit-mx;
}

.py-mx {
  padding-top: $unit-mx;
  padding-bottom: $unit-mx;
}


.py-27 {
  padding-top: $unit-odd-mxx;
  padding-bottom: $unit-odd-mxx;
}
.p-27 {
  padding: $unit-odd-mxx;
}
.pt-27 {
  padding-top: $unit-odd-mxx;
}
.pr-27 {
  padding-right: $unit-odd-mxx;
}
.pb-27 {
  padding-bottom: $unit-odd-mxx;
}
.pl-27 {
  padding-left: $unit-odd-mxx;
}
.px-27 {
  padding-left: $unit-odd-mxx;
  padding-right: $unit-odd-mxx;
}

.p-mxxx {
  padding: $unit-mx;
}

.pt-mxxx {
  padding-top: $unit-mxxx;
}

.pr-mxxx {
  padding-right: $unit-mxxx;
}

.pb-mxxx {
  padding-bottom: $unit-mxxx;
}

.pl-mxxx {
  padding-left: $unit-mxxx;
}

.px-mxxx {
  padding-left: $unit-mxxx;
  padding-right: $unit-mxxx;
}

.py-mxxx {
  padding-top: $unit-mxxx;
  padding-bottom: $unit-mxxx;
}

.p-lrg {
  padding: $unit-lrg;
}

.pt-lrg {
  padding-top: $unit-lrg;
}

.pr-lrg {
  padding-right: $unit-lrg;
}

.pb-lrg {
  padding-bottom: $unit-lrg;
}

.pl-lrg {
  padding-left: $unit-lrg;
}

.px-lrg {
  padding-left: $unit-lrg;
  padding-right: $unit-lrg;
}

.py-lrg {
  padding-top: $unit-lrg;
  padding-bottom: $unit-lrg;
}

.px-l {
  padding-left: 36px;
  padding-right: 36px;
}

.py-l {
  padding-top: 36px;
  padding-bottom: 36px;
}

.pt-l {
  padding-top: 36px;
}

.pb-l {
  padding-bottom: 36px;
}

.pl-l {
  padding-left: 36px;
}

.pr-l {
  padding-right: 36px;
}

.p-l {
  padding: 36px;
}

.p-xl {
  padding: $unit-xl;
}

.pt-xl {
  padding-top: $unit-xl;
}

.pr-xl {
  padding-right: $unit-xl;
}

.pb-xl {
  padding-bottom: $unit-xl;
}

.pl-xl {
  padding-left: $unit-xl;
}

.px-xl {
  padding-left: $unit-xl;
  padding-right: $unit-xl;
}

.py-xl {
  padding-top: $unit-xl;
  padding-bottom: $unit-xl;
}

.p-xxl {
  padding: $unit-xxl;
}

.pt-xxl {
  padding-top: $unit-xxl;
}

.pr-xxl {
  padding-right: $unit-xxl;
}

.pb-xxl {
  padding-bottom: $unit-xxl;
}

.pl-xxl {
  padding-left: $unit-xxl;
}

.px-xxl {
  padding-left: $unit-xxl;
  padding-right: $unit-xxl;
}

.py-xxl {
  padding-top: $unit-xxl;
  padding-bottom: $unit-xxl;
}

.p-xxlrg {
  padding: $unit-xxlrg;
}
.pt-xxlrg {
  padding-top: $unit-xxlrg;
}
.pr-xxlrg {
  padding-right: $unit-xxlrg;
}
.pb-xxlrg {
  padding-bottom: $unit-xxlrg;
}
.pl-xxlrg {
  padding-left: $unit-xxlrg;
}
.px-xxlrg {
  padding-left: $unit-xxlrg;
  padding-right: $unit-xxlrg;
}
.py-xxlrg {
  padding-top: $unit-xxlrg;
  padding-bottom: $unit-xxlrg;
}

.p-xxxl {
  padding: $unit-xxxl;
}

.pt-xxxl {
  padding-top: $unit-xxxl;
}

.pr-xxxl {
  padding-right: $unit-xxxl;
}

.pb-xxxl {
  padding-bottom: $unit-xxxl;
}

.pl-xxxl {
  padding-left: $unit-xxxl;
}

.px-xxxl {
  padding-left: $unit-xxxl;
  padding-right: $unit-xxxl;
}

.py-xxxl {
  padding-top: $unit-xxxl;
  padding-bottom: $unit-xxxl;
}

.p-xxxxl {
  padding: $unit-xxxxl;
}

.pt-xxxxl {
  padding-top: $unit-xxxxl;
}

.pr-xxxxl {
  padding-right: $unit-xxxxl;
}

.pb-xxxxl {
  padding-bottom: $unit-xxxxl;
}

.pl-xxxxl {
  padding-left: $unit-xxxxl;
}

.px-xxxxl {
  padding-left: $unit-xxxxl;
  padding-right: $unit-xxxxl;
}

.py-xxxxl {
  padding-top: $unit-xxxxl;
  padding-bottom: $unit-xxxxl;
}

.p-xxxxxl {
  padding: $unit-xxxxxl;
}

.pt-xxxxxl {
  padding-top: $unit-xxxxxl;
}

.pr-xxxxxl {
  padding-right: $unit-xxxxxl;
}

.pb-xxxxxl {
  padding-bottom: $unit-xxxxxl;
}

.pl-xxxxxl {
  padding-left: $unit-xxxxxl;
}

.px-xxxxxl {
  padding-left: $unit-xxxxxl;
  padding-right: $unit-xxxxxl;
}

.py-xxxxxl {
  padding-top: $unit-xxxxxl;
  padding-bottom: $unit-xxxxxl;
}

.pt-xxxxxxl {
  padding-top: $unit-xxxxxxl;
}

.pb-xxxxxxl {
  padding-bottom: $unit-xxxxxxl;
}

.px-xxxxxxl {
  padding-left: $unit-xxxxxxl;
  padding-right: $unit-xxxxxxl;
}

.py-xxxxxxl {
  padding-top: $unit-xxxxxxl;
  padding-bottom: $unit-xxxxxxl;
}

.pt-xxxxxxxl {
  padding-top: $unit-xxxxxxxl;
}

.pb-xxxxxxxl {
  padding-bottom: $unit-xxxxxxxl;
}

.px-xxxxxxxl {
  padding-left: $unit-xxxxxxxl;
  padding-right: $unit-xxxxxxxl;
}

.py-xxxxxxxl {
  padding-top: $unit-xxxxxxxl;
  padding-bottom: $unit-xxxxxxxl;
}

.pt-xxxxxxxxl {
  padding-top: $unit-xxxxxxxxl;
}

.pb-xxxxxxxxl {
  padding-bottom: $unit-xxxxxxxxl;
}
