/* ==========================================================================
 BORDER HELPERS
========================================================================== */

//transparent border

.b-trans{ border: 1px solid transparent; }
.bt-trans{ border-top: 1px solid transparent; }
.bl-trans{ border-left: 1px solid transparent; }
.bb-trans{ border-bottom: 1px solid transparent; }
.br-trans{ border-right: 1px solid transparent; }


//light grey borders
.b-light { border: 1px solid palette(grey, xxxx-light); }
.bt-light { border-top: 1px solid palette(grey, xxxx-light); }
.bl-light { border-left: 1px solid palette(grey, xxxx-light); }
.bb-light { border-bottom: 1px solid palette(grey, xxxx-light); }
.br-light { border-right: 1px solid palette(grey, xxxx-light); }

//grey borders
.b-grey { border: 1px solid palette(grey, xxx-light); }
.bt-grey { border-top: 1px solid palette(grey, xxx-light); }
.bl-grey { border-left: 1px solid palette(grey, xxx-light); }
.bb-grey { border-bottom: 1px solid palette(grey, xxx-light); }
.br-grey { border-right: 1px solid palette(grey, xxx-light); }

//grey xx-light 4PX BORDER
.b-xx-light-grey-xs { border: 4px solid palette(grey, xx-light); }
.bt-xx-light-grey-xs { border-top: 4px solid palette(grey, xx-light); }
.bl-xx-light-grey-xs { border-left: 4px solid palette(grey, xx-light); }
.bb-xx-light-grey-xs { border-bottom: 4px solid palette(grey, xx-light); }
.br-xx-light-grey-xs { border-right: 4px solid palette(grey, xx-light); }

//grey xx-light 8PX BORDER
.b-xx-light-grey-x { border: 8px solid palette(grey, xx-light); }
.bt-xx-light-grey-x { border-top: 8px solid palette(grey, xx-light); }
.bl-xx-light-grey-x { border-left: 8px solid palette(grey, xx-light); }
.bb-xx-light-grey-x { border-bottom: 8px solid palette(grey, xx-light); }
.br-xx-light-grey-x { border-right: 8px solid palette(grey, xx-light); }

//grey x-light 4PX BORDER
.b-x-light-grey-xs { border: 4px solid palette(grey, x-light); }
.bt-x-light-grey-xs { border-top: 4px solid palette(grey, x-light); }
.bl-x-light-grey-xs { border-left: 4px solid palette(grey, x-light); }
.bb-x-light-grey-xs { border-bottom: 4px solid palette(grey, x-light); }
.br-x-light-grey-xs { border-right: 4px solid palette(grey, x-light); }

//grey x-light 8PX BORDER
.b-x-light-grey-x { border: 8px solid palette(grey, x-light); }
.bt-x-light-grey-x { border-top: 8px solid palette(grey, x-light); }
.bl-x-light-grey-x { border-left: 8px solid palette(grey, x-light); }
.bb-x-light-grey-x { border-bottom: 8px solid palette(grey, x-light); }
.br-x-light-grey-x { border-right: 8px solid palette(grey, x-light); }

//orange borders
.b-orange { border: 1px solid palette(orange, base); }
.bt-orange { border-top: 1px solid palette(orange, base); }
.bl-orange { border-left: 1px solid palette(orange, base); }
.bb-orange { border-bottom: 1px solid palette(orange, base); }
.br-orange { border-right: 1px solid palette(orange, base); }

//CYAN borders
.b-cyan { border: 1px solid palette(cyan, base); }
.bt-cyan { border-top: 1px solid palette(cyan, base); }
.bl-cyan { border-left: 1px solid palette(cyan, base); }
.bb-cyan { border-bottom: 1px solid palette(cyan, base); }
.br-cyan { border-right: 1px solid palette(cyan, base); }

//CYAN 4PX BORDER
.b-cyan-xs { border: 4px solid palette(cyan, base); }
.bt-cyan-xs { border-top: 4px solid palette(cyan, base); }
.bl-cyan-xs { border-left: 4px solid palette(cyan, base); }
.bb-cyan-xs { border-bottom: 4px solid palette(cyan, base); }
.br-cyan-xs { border-right: 4px solid palette(cyan, base); }

//CYAN 8PX BORDER
.b-cyan-x { border: 8px solid palette(cyan, base); }
.bt-cyan-x { border-top: 8px solid palette(cyan, base); }
.bl-cyan-x { border-left: 8px solid palette(cyan, base); }
.bb-cyan-x { border-bottom: 8px solid palette(cyan, base); }
.br-cyan-x { border-right: 8px solid palette(cyan, base); }

// DARK BLUE 2PX BORDER
.b-dark-blue-xxs { border: 2px solid palette(blue, x-dark); }
.bt-dark-blue-xxs { border-top: 2px solid palette(blue, x-dark); }
.bl-dark-blue-xxs { border-left: 2px solid palette(blue, x-dark); }
.bb-dark-blue-xxs { border-bottom: 2px solid palette(blue, x-dark); }
.br-dark-blue-xxs { border-right: 2px solid palette(blue, x-dark); }

//border none
.b-none { border: none; }
.bt-none { border-top: none; }
.bl-none { border-left: none; }
.bb-none { border-bottom: none; }
.br-none { border-right: none; }

//shadowed style lines
.b-light-shadow {
  box-shadow: 0 0 0 1px palette(grey, xxxx-light) inset;
}
