/* ==========================================================================
 BORDER HELPERS
========================================================================== */

//transparent border

.b-trans {
  border: 1px solid transparent;
}
.bt-trans {
  border-top: 1px solid transparent;
}
.bl-trans {
  border-left: 1px solid transparent;
}
.bb-trans {
  border-bottom: 1px solid transparent;
}
.br-trans {
  border-right: 1px solid transparent;
}

.b-trans-xxs {
  border: 2px solid transparent;
}
.bt-trans-xxs {
  border-top: 2px solid transparent;
}
.bl-trans-xxs {
  border-left: 2px solid transparent;
}
.bb-trans-xxs {
  border-bottom: 2px solid transparent;
}
.br-trans-xxs {
  border-right: 2px solid transparent;
}

//light grey borders
.b-white {
  border: 1px solid $white;
}
.bt-white {
  border-top: 1px solid $white;
}
.bl-white {
  border-left: 1px solid $white;
}
.bb-white {
  border-bottom: 1px solid $white;
}
.br-white {
  border-right: 1px solid $white;
}

.b-white-2 {
  border: 2px solid $white;
}
.bt-white-2 {
  border-top: 2px solid $white;
}
.bl-white-2 {
  border-left: 2px solid $white;
}
.bb-white-2 {
  border-bottom: 2px solid $white;
}
.br-white-2 {
  border-right: 2px solid $white;
}

//light grey borders
.b-light {
  border: 1px solid palette(grey, xxxx-light);
}
.bt-light {
  border-top: 1px solid palette(grey, xxxx-light);
}
.bl-light {
  border-left: 1px solid palette(grey, xxxx-light);
}
.bb-light {
  border-bottom: 1px solid palette(grey, xxxx-light);
}
.br-light {
  border-right: 1px solid palette(grey, xxxx-light);
}

//grey borders
.b-grey {
  border: 1px solid palette(grey, xxx-light);
}
.bt-grey {
  border-top: 1px solid palette(grey, xxx-light);
}
.bl-grey {
  border-left: 1px solid palette(grey, xxx-light);
}
.bb-grey {
  border-bottom: 1px solid palette(grey, xxx-light);
}
.br-grey {
  border-right: 1px solid palette(grey, xxx-light);
}

.b-grey-xxs {
  border: 2px solid palette(grey, base);
}
.bt-grey-xxs {
  border-top: 2px solid palette(grey, base);
}
.bl-grey-xxs {
  border-left: 2px solid palette(grey, base);
}
.bb-grey-xxs {
  border-bottom: 2px solid palette(grey, base);
}
.br-grey-xxs {
  border-right: 2px solid palette(grey, base);
}

// Red Border
.b-red {
  border: 1px solid $red;
}
.bt-red {
  border-top: 1px solid $red;
}
.bl-red {
  border-left: 1px solid $red;
}
.bb-red {
  border-bottom: 1px solid $red;
}
.br-red {
  border-right: 1px solid $red;
}

//orange borders
.b-orange {
  border: 1px solid palette(orange, base);
}
.bt-orange {
  border-top: 1px solid palette(orange, base);
}
.bl-orange {
  border-left: 1px solid palette(orange, base);
}
.bb-orange {
  border-bottom: 1px solid palette(orange, base);
}
.br-orange {
  border-right: 1px solid palette(orange, base);
}

.b-xxx-light-orange {
  border: 1px solid palette(orange, xxx-light);
}
.bt-xxx-light-orange {
  border-top: 1px solid palette(orange, xxx-light);
}
.bl-xxx-light-orange {
  border-left: 1px solid palette(orange, xxx-light);
}
.bb-xxx-light-orange {
  border-bottom: 1px solid palette(orange, xxx-light);
}
.br-xxx-light-orange {
  border-right: 1px solid palette(orange, xxx-light);
}

.bl-xxx-light-orange-2 {
  border-left: 2px solid palette(orange, xxx-light);
}

.b-xxxx-light-orange {
  border: 1px solid palette(orange, xxxx-light);
}
.bt-xxxx-light-orange {
  border-top: 1px solid palette(orange, xxxx-light);
}
.bl-xxxx-light-orange {
  border-left: 1px solid palette(orange, xxxx-light);
}
.bb-xxxx-light-orange {
  border-bottom: 1px solid palette(orange, xxxx-light);
}
.br-xxxx-light-orange {
  border-right: 1px solid palette(orange, xxxx-light);
}

//CYAN borders
.b-blue {
  border: 1px solid palette(blue, base);
}
.bt-blue {
  border-top: 1px solid palette(blue, base);
}
.bl-blue {
  border-left: 1px solid palette(blue, base);
}
.bb-blue {
  border-bottom: 1px solid palette(blue, base);
}
.br-blue {
  border-right: 1px solid palette(blue, base);
}

.b-blue-xxs {
  border: 2px solid palette(blue, base);
}
.bt-blue-xxs {
  border-top: 2px solid palette(blue, base);
}
.bl-blue-xxs {
  border-left: 2px solid palette(blue, base);
}
.bb-blue-xxs {
  border-bottom: 2px solid palette(blue, base);
}
.br-blue-xxs {
  border-right: 2px solid palette(blue, base);
}

// DARK BLUE 2PX BORDER
.b-x-dark-blue-xxs {
  border: 2px solid palette(blue, x-dark);
}
.bt-x-dark-blue-xxs {
  border-top: 2px solid palette(blue, x-dark);
}
.bl-x-dark-blue-xxs {
  border-left: 2px solid palette(blue, x-dark);
}
.bb-x-dark-blue-xxs {
  border-bottom: 2px solid palette(blue, x-dark);
}
.br-x-dark-blue-xxs {
  border-right: 2px solid palette(blue, x-dark);
}

//RED borders
.b-red-xs {
  border: $unit-xs solid $red;
}
.bt-red-xs {
  border-top: $unit-xs solid $red;
}
.bl-red-xs {
  border-left: $unit-xs solid $red;
}
.bb-red-xs {
  border-bottom: $unit-xs solid $red;
}
.br-red-xs {
  border-right: $unit-xs solid $red;
}

//border none
.b-none {
  border: none;
}
.bt-none {
  border-top: none;
}
.bl-none {
  border-left: none;
}
.bb-none {
  border-bottom: none;
}
.br-none {
  border-right: none;
}

//shadowed style lines
.b-xxxx-light-grey-shadow {
  box-shadow: 0 0 0 1px palette(grey, xxxx-light) inset;
}
