/* ==========================================================================
 BORDER HELPERS
========================================================================== */

@include tablet-landscape {
  // TRANS BORDER HELPERS

  //transparent border

  .med-b-trans {
    border: 1px solid transparent;
  }
  .med-bt-trans {
    border-top: 1px solid transparent;
  }
  .med-bl-trans {
    border-left: 1px solid transparent;
  }
  .med-bb-trans {
    border-bottom: 1px solid transparent;
  }
  .med-br-trans {
    border-right: 1px solid transparent;
  }

  .med-b-trans-xxs {
    border: 2px solid transparent;
  }
  .med-bt-trans-xxs {
    border-top: 2px solid transparent;
  }
  .med-bl-trans-xxs {
    border-left: 2px solid transparent;
  }
  .med-bb-trans-xxs {
    border-bottom: 2px solid transparent;
  }
  .med-br-trans-xxs {
    border-right: 2px solid transparent;
  }

  //white borders
  .med-b-white-2 {
    border: 2px solid $white;
  }
  .med-bt-white-2 {
    border-top: 2px solid $white;
  }
  .med-bl-white-2 {
    border-left: 2px solid $white;
  }
  .med-bb-white-2 {
    border-bottom: 2px solid $white;
  }
  .med-br-white-2 {
    border-right: 2px solid $white;
  }
  .med-b-white {
    border: 1px solid $white;
  }
  .med-bt-white {
    border-top: 1px solid $white;
  }
  .med-bl-white {
    border-left: 1px solid $white;
  }
  .med-bb-white {
    border-bottom: 1px solid $white;
  }
  .med-br-white {
    border-right: 1px solid $white;
  }

  //light grey borders
  .med-b-light {
    border: 1px solid palette(grey, xxxx-light);
  }
  .med-bt-light {
    border-top: 1px solid palette(grey, xxxx-light);
  }
  .med-bl-light {
    border-left: 1px solid palette(grey, xxxx-light);
  }
  .med-bb-light {
    border-bottom: 1px solid palette(grey, xxxx-light);
  }
  .med-br-light {
    border-right: 1px solid palette(grey, xxxx-light);
  }

  //grey borders
  .med-b-grey {
    border: 1px solid palette(grey, xxx-light);
  }
  .med-bt-grey {
    border-top: 1px solid palette(grey, xxx-light);
  }
  .med-bl-grey {
    border-left: 1px solid palette(grey, xxx-light);
  }
  .med-bb-grey {
    border-bottom: 1px solid palette(grey, xxx-light);
  }
  .med-br-grey {
    border-right: 1px solid palette(grey, xxx-light);
  }

  //orange borders
  .med-b-orange {
    border: 1px solid palette(orange, base);
  }
  .med-bt-orange {
    border-top: 1px solid palette(orange, base);
  }
  .med-bl-orange {
    border-left: 1px solid palette(orange, base);
  }
  .med-bb-orange {
    border-bottom: 1px solid palette(orange, base);
  }
  .med-br-orange {
    border-right: 1px solid palette(orange, base);
  }

  .med-b-xxx-light-orange {
    border: 1px solid palette(orange, xxx-light);
  }
  .med-bt-xxx-light-orange {
    border-top: 1px solid palette(orange, xxx-light);
  }
  .med-bl-xxx-light-orange {
    border-left: 1px solid palette(orange, xxx-light);
  }
  .med-bb-xxx-light-orange {
    border-bottom: 1px solid palette(orange, xxx-light);
  }
  .med-br-xxx-light-orange {
    border-right: 1px solid palette(orange, xxx-light);
  }

  .med-bl-xxx-light-orange-2 {
    border-left: 2px solid palette(orange, xxx-light);
  }

  .med-b-xxxx-light-orange {
    border: 1px solid palette(orange, xxxx-light);
  }
  .med-bt-xxxx-light-orange {
    border-top: 1px solid palette(orange, xxxx-light);
  }
  .med-bl-xxxx-light-orange {
    border-left: 1px solid palette(orange, xxxx-light);
  }
  .med-bb-xxxx-light-orange {
    border-bottom: 1px solid palette(orange, xxxx-light);
  }
  .med-br-xxxx-light-orange {
    border-right: 1px solid palette(orange, xxxx-light);
  }

  //orange borders
  .med-b-blue {
    border: 1px solid palette(blue, base);
  }
  .med-bt-blue {
    border-top: 1px solid palette(blue, base);
  }
  .med-bl-blue {
    border-left: 1px solid palette(blue, base);
  }
  .med-bb-blue {
    border-bottom: 1px solid palette(blue, base);
  }
  .med-br-blue {
    border-right: 1px solid palette(blue, base);
  }

  //Blue borders
  .med-b-blue {
    border: 1px solid palette(blue, base);
  }
  .med-bt-blue {
    border-top: 1px solid palette(blue, base);
  }
  .med-bl-blue {
    border-left: 1px solid palette(blue, base);
  }
  .med-bb-blue {
    border-bottom: 1px solid palette(blue, base);
  }
  .med-br-blue {
    border-right: 1px solid palette(blue, base);
  }

  .med-b-blue-xxs {
    border: 2px solid palette(blue, base);
  }
  .med-bt-blue-xxs {
    border-top: 2px solid palette(blue, base);
  }
  .med-bl-blue-xxs {
    border-left: 2px solid palette(blue, base);
  }
  .med-bb-blue-xxs {
    border-bottom: 2px solid palette(blue, base);
  }
  .med-br-blue-xxs {
    border-right: 2px solid palette(blue, base);
  }

  // dark blue
  .med-b-x-dark-blue-xxs {
    border: 2px solid palette(blue, x-dark);
  }
  .med-bt-x-dark-blue-xxs {
    border-top: 2px solid palette(blue, x-dark);
  }
  .med-bl-x-dark-blue-xxs {
    border-left: 2px solid palette(blue, x-dark);
  }
  .med-bb-x-dark-blue-xxs {
    border-bottom: 2px solid palette(blue, x-dark);
  }
  .med-br-x-dark-blue-xxs {
    border-right: 2px solid palette(blue, x-dark);
  }

  //border none
  .med-b-none {
    border: none;
  }
  .med-bt-none {
    border-top: none;
  }
  .med-bl-none {
    border-left: none;
  }
  .med-bb-none {
    border-bottom: none;
  }
  .med-br-none {
    border-right: none;
  }

  //shadowed style lines
  .med-b-xxxx-light-grey-shadow {
    box-shadow: 0 0 0 1px palette(grey, xxxx-light) inset;
  }
}
