/* ==========================================================================
 BORDER HELPERS
========================================================================== */

@include laptop {
  //light grey borders
  .xl-b-light {
    border: 1px solid palette(grey, xxxx-light);
  }
  .xl-bt-light {
    border-top: 1px solid palette(grey, xxxx-light);
  }
  .xl-bl-light {
    border-left: 1px solid palette(grey, xxxx-light);
  }
  .xl-bb-light {
    border-bottom: 1px solid palette(grey, xxxx-light);
  }
  .xl-br-light {
    border-right: 1px solid palette(grey, xxxx-light);
  }

  //grey borders
  .xl-b-grey {
    border: 1px solid palette(grey, xxx-light);
  }
  .xl-bt-grey {
    border-top: 1px solid palette(grey, xxx-light);
  }
  .xl-bl-grey {
    border-left: 1px solid palette(grey, xxx-light);
  }
  .xl-bb-grey {
    border-bottom: 1px solid palette(grey, xxx-light);
  }
  .xl-br-grey {
    border-right: 1px solid palette(grey, xxx-light);
  }

  //white borders
  .xl-b-white-2 {
    border: 2px solid $white;
  }
  .xl-bt-white-2 {
    border-top: 2px solid $white;
  }
  .xl-bl-white-2 {
    border-left: 2px solid $white;
  }
  .xl-bb-white-2 {
    border-bottom: 2px solid $white;
  }
  .xl-br-white-2 {
    border-right: 2px solid $white;
  }
  .xl-b-white {
    border: 1px solid $white;
  }
  .xl-bt-white {
    border-top: 1px solid $white;
  }
  .xl-bl-white {
    border-left: 1px solid $white;
  }
  .xl-bb-white {
    border-bottom: 1px solid $white;
  }
  .xl-br-white {
    border-right: 1px solid $white;
  }

  //orange borders
  .xl-b-orange {
    border: 1px solid palette(orange, base);
  }
  .xl-bt-orange {
    border-top: 1px solid palette(orange, base);
  }
  .xl-bl-orange {
    border-left: 1px solid palette(orange, base);
  }
  .xl-bb-orange {
    border-bottom: 1px solid palette(orange, base);
  }
  .xl-br-orange {
    border-right: 1px solid palette(orange, base);
  }

  .xl-b-xxx-light-orange {
    border: 1px solid palette(orange, xxx-light);
  }
  .xl-bt-xxx-light-orange {
    border-top: 1px solid palette(orange, xxx-light);
  }
  .xl-bl-xxx-light-orange {
    border-left: 1px solid palette(orange, xxx-light);
  }
  .xl-bb-xxx-light-orange {
    border-bottom: 1px solid palette(orange, xxx-light);
  }
  .xl-br-xxx-light-orange {
    border-right: 1px solid palette(orange, xxx-light);
  }

  .xl-bl-xxx-light-orange-2 {
    border-left: 2px solid palette(orange, xxx-light);
  }

  .xl-b-xxxx-light-orange {
    border: 1px solid palette(orange, xxxx-light);
  }
  .xl-bt-xxxx-light-orange {
    border-top: 1px solid palette(orange, xxxx-light);
  }
  .xl-bl-xxxx-light-orange {
    border-left: 1px solid palette(orange, xxxx-light);
  }
  .xl-bb-xxxx-light-orange {
    border-bottom: 1px solid palette(orange, xxxx-light);
  }
  .xl-br-xxxx-light-orange {
    border-right: 1px solid palette(orange, xxxx-light);
  }

  //orange borders
  .xl-b-blue {
    border: 1px solid palette(blue, base);
  }
  .xl-bt-blue {
    border-top: 1px solid palette(blue, base);
  }
  .xl-bl-blue {
    border-left: 1px solid palette(blue, base);
  }
  .xl-bb-blue {
    border-bottom: 1px solid palette(blue, base);
  }
  .xl-br-blue {
    border-right: 1px solid palette(blue, base);
  }

  //orange borders
  .xl-b-blue {
    border: 1px solid palette(blue, base);
  }
  .xl-bt-blue {
    border-top: 1px solid palette(blue, base);
  }
  .xl-bl-blue {
    border-left: 1px solid palette(blue, base);
  }
  .xl-bb-blue {
    border-bottom: 1px solid palette(blue, base);
  }
  .xl-br-blue {
    border-right: 1px solid palette(blue, base);
  }

  //dark blue borders
  .xl-b-x-dark-blue-xxs {
    border: 2px solid palette(blue, x-dark);
  }
  .xl-bt-x-dark-blue-xxs {
    border-top: 2px solid palette(blue, x-dark);
  }
  .xl-bl-x-dark-blue-xxs {
    border-left: 2px solid palette(blue, x-dark);
  }
  .xl-bb-x-dark-blue-xxs {
    border-bottom: 2px solid palette(blue, x-dark);
  }
  .xl-br-x-dark-blue-xxs {
    border-right: 2px solid palette(blue, x-dark);
  }

  //border none
  .xl-b-none {
    border: none;
  }
  .xl-bt-none {
    border-top: none;
  }
  .xl-bl-none {
    border-left: none;
  }
  .xl-bb-none {
    border-bottom: none;
  }
  .xl-br-none {
    border-right: none;
  }

  //shadowed style lines
  .xl-b-xxxx-light-grey-shadow {
    box-shadow: 0 0 0 1px palette(grey, xxxx-light) inset;
  }
}
