/* ==========================================================================
   TYPE HELPERS
  ========================================================================== */

.upper {
  text-transform: uppercase;
  letter-spacing: .5px;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.small-caps {
  font-variant: small-caps;
}

.text-deco-none {
  text-decoration: none;
}

//font weight  helpers

.fw-light {
  font-weight: 200;
}

.fw-regular {
  font-weight: 400;
  font-family: "AvenirNextRegular";
}

.fw-medium {
  font-weight: 500;
  font-family: "AvenirNextMedium";
}

.fw-demi-bold {
  font-weight: 700;
  font-family: "AvenirNextDemi";
}

.fw-bold {
  font-weight: 800;
  font-family: "AvenirNextBold";
}

.fw-heavy {
  font-weight: 900;
  font-family: "AvenirNextHeavy";
}

// text nowrap truncate breakwords

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nowrap {
  white-space: nowrap
}

.break-word {
  word-wrap: break-word
}

.small-type {
  font-size: 10px
}

.italic {
  font-family: "AvenirNextMediumItalic";
  font-style: italic;
}

.italic-regular {
  font-family: "AvenirNextRegularItalic";
  font-style: italic;
}

.italic-medium {
  font-family: "AvenirNextMediumItalic";
  font-style: italic;
}

.italic-demi-bold{
  font-family: "AvenirNextDemiItalic";
  font-style: italic;
}
.italic-bold {
  font-family: "AvenirNextBoldItalic";
  font-style: italic;
}

.italic-heavy {
  font-family: "AvenirNextHeavyItalic";
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

//Vertical alignment
.v-align-base {
  vertical-align: baseline;
}

.v-align-mid {
  vertical-align: middle;
}

.v-align-top {
  vertical-align: top;
}

.v-align-btm {
  vertical-align: bottom;
}

.serif-georgia {
  font-family: georgia, Cambria, serif;
}

.serif-cambria{
  font-family: Cambria, georgia, serif;
}

// Text Shadow
.ts-basic {
  text-shadow: 0 1px 1px rgba(0,0,0,.35);
}
