// TAB size icon helpers
@include tablet-portrait {
  .tab-ico-x { width: $unit-x; }
  .tab-ico-small { width: $unit-small; }
  .tab-ico-medium { width: $unit-medium; }
  .tab-ico-lrg { width: $unit-lrg; }
  .tab-ico-xl { width: $unit-xl; }
  .tab-ico-xxl { width: $unit-xxl; }
  .tab-ico-xxxl { width: $unit-xxxl; }
  .tab-ico-xxxxl { width: $unit-xxxxl; }
  .tab-ico-xxxxxl { width: $unit-xxxxxl; }
  .tab-ico-xxxxxxl { width: $unit-xxxxxxl; }
  .tab-ico-xxxxxxxl { width: $unit-xxxxxxxl; }
  .tab-ico-xxxxxxxxl { width: $unit-xxxxxxxxl; }
}
