/* ==========================================================================
   LAPTOP FLEXBOX HELPERS...
   USE THESE WHEN YOU WANT TO USE A SPEICIFC CLASS A SPECIFIC BREAKPOINT
  ========================================================================== */
@include laptop {

  .xl-flex {
    display: flex;
  }

  //target ie browser only
  @media all and (-ms-high-contrast: none) {
    .xl-ie-no-flex {
      display: block;
    }
    /* IE10 */
    *::-ms-backdrop, .xl-ie-no-flex {
      display: block;
    }
    /* IE11 */
  }

  .xl-flex-column {
    flex-direction: column;
  }

  .xl-flex-row {
    flex-direction: row;
  }

  .xl-flex-1 {
    flex: 1;
  }

  .xl-flex-2 {
    flex: 2;
  }

  .xl-space-between {
    justify-content: space-between;
  }

  .xl-space-around {
    justify-content: space-around;
  }

  .xl-justify-center {
    justify-content: center;
  }

  .xl-flex-end {
    justify-content: flex-end;
  }

  .xl-flex-align-center {
    align-items: center;
  }

  .xl-flex-align-baseline {
    align-items: baseline;
  }

  .xl-flex-align-stretch {
    align-items: stretch;
  }

  .xl-flex-align-start {
    align-items: flex-start;
  }

  .xl-flex-align-end {
    align-items: flex-end;
  }

  .xl-flex-1 {
    flex: 1;
  }

  .xl-flex-auto {
    flex: 1 1 auto;
    min-width: 0; /* 1 */
    min-height: 0; /* 1 */
  }

  .xl-flex-grow {
    flex: 1 0 auto;
  }

  .xl-flex-none {
    flex: none;
  }

  .xl-flex-first {
    order: -1;
  }

  .xl.flex-second {
    order: 2;
  }

  .xl-flex-last {
    order: 99999;
  }

  .xl-flex-shrink-0 {
    flex-shrink: 0;
  }

  .xl-flex-self-start{
    align-self: flex-start;
  }

  .xl-flex-self-end {
    align-self: flex-end;
  }

  .xl-flex-self-center {
    align-self: center;
  }

}
