/* ==========================================================================
   BORDER RADIUS HELPERS
  ========================================================================== */

.br-reset {
  border-radius: 0px;
}

.br-top-left-reset {
  border-top-left-radius: 0px;
}

.br-top-right-reset {
  border-top-right-radius: 0px;
}

.br-bottom-left-reset {
  border-bottom-left-radius: 0px;
}

.br-bottom-right-reset {
  border-bottom-right-radius: 0px;
}

//Border br-xxs

.br-xxs {
  border-radius: 2px;
}

.br-left-xxs {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.br-right-xxs {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.br-top-xxs {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.br-bottom-xxs {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.br-xs {
  border-radius: 4px
}

.br-left-xs {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.br-right-xs {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}


.br-top-xs {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.br-bottom-xs {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.br-top-x {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.br-bottom-x {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

///x

.br-x {
  border-radius: 8px
}

.br-small {
  border-radius: $unit-small
}

.br-medium {
  border-radius: $unit-medium
}

.br-lrg {
  border-radius: $unit-lrg
}

.br-circle {
  border-radius: 100%;
}
