/* ==========================================================================
   BORDER RADIUS HELPERS
  ========================================================================== */

.br-reset {
  border-radius: 0;
}

.br-top-left-reset {
  border-top-left-radius: 0;
}

.br-top-right-reset {
  border-top-right-radius: 0;
}

.br-bottom-left-reset {
  border-bottom-left-radius: 0;
}

.br-bottom-right-reset {
  border-bottom-right-radius: 0;
}

//Border br-xxs

.br-xxs {
  border-radius: $unit-xxs;
}

.br-left-xxs {
  border-bottom-left-radius: $unit-xxs;
  border-top-left-radius: $unit-xxs;
}

.br-right-xxs {
  border-bottom-right-radius: $unit-xxs;
  border-top-right-radius: $unit-xxs;
}

.br-top-xxs {
  border-top-left-radius: $unit-xxs;
  border-top-right-radius: $unit-xxs;
}

.br-bottom-xxs {
  border-bottom-left-radius: $unit-xxs;
  border-bottom-right-radius: $unit-xxs;
}

.br-xs {
  border-radius: $unit-xs;
}

.br-left-xs {
  border-bottom-left-radius: $unit-xs;
  border-top-left-radius: $unit-xs;
}

.br-right-xs {
  border-bottom-right-radius: $unit-xs;
  border-top-right-radius: $unit-xs;
}

.br-top-xs {
  border-top-left-radius: $unit-xs;
  border-top-right-radius: $unit-xs;
}

.br-bottom-xs {
  border-bottom-left-radius: $unit-xs;
  border-bottom-right-radius: $unit-xs;
}

.br-top-x {
  border-top-left-radius: $unit-x;
  border-top-right-radius: $unit-x;
}

.br-bottom-x {
  border-bottom-left-radius: $unit-x;
  border-bottom-right-radius: $unit-x;
}

// x

.br-x {
  border-radius: $unit-x;
}

.br-small {
  border-radius: $unit-small;
}

.br-medium {
  border-radius: $unit-medium;
}

.br-lrg {
  border-radius: $unit-lrg;
}

.br-circle {
  border-radius: 100%;
}
