/* ==========================================================================
   INLINE ICON HELPERS
  ========================================================================== */
// for inline icons so the wrapping element does not inherit the default line-height
.u-inline-icon-wrapper {
  line-height: 0;
}

.icon {
  width: 14px;
}

.icon-small {
  width: $unit-small;
}

.icon-medium {
  width: $unit-medium;
}

//FIXED WIDTH ICONS

.icon-fixed-64 {
  width: $unit-xxxxl;
}

.icon-fixed-72 {
  width: $unit-xxxxxl;
}

.icon-fixed-100 {
  width: 100px;
}

.icon-fixed-120 {
  width: 120px;
}

.icon-fixed-140 {
  width: 140px;
}

.icon-fixed-160 {
  width: 160px;
}

.icon-fixed-180 {
  width: 180px;
}

@include tablet-portrait {
  .tab-icon {
    width: 14px;
  }

  .tab-icon-small {
    width: $unit-small;
  }

  .tab-icon-medium {
    width: $unit-medium;
  }

  .tab-icon-fixed-64 {
    width: $unit-xxxxl;
  }

  .tab-icon-fixed-72 {
    width: $unit-xxxxxl;
  }

  .tab-icon-fixed-100 {
    width: 100px;
  }
  .tab-icon-fixed-120 {
    width: 120px;
  }

  .tab-icon-fixed-140 {
    width: 140px;
  }

  .tab-icon-fixed-160 {
    width: 160px;
  }

  .tab-icon-fixed-180 {
    width: 180px;
  }

  .tab-icon-fixed-200 {
    width: 200px;
  }
}

@include tablet-landscape {
  .med-icon-fixed-64 {
    width: $unit-xxxxl;
  }

  .med-icon-fixed-72 {
    width: $unit-xxxxxl;
  }

  .med-icon-fixed-100 {
    width: 100px;
  }
  .med-icon-fixed-120 {
    width: 120px;
  }

  .med-icon-fixed-140 {
    width: 140px;
  }

  .med-icon-fixed-160 {
    width: 160px;
  }

  .med-icon-fixed-180 {
    width: 180px;
  }

  .med-icon-fixed-200 {
    width: 200px;
  }
}
