/// LIST STYLE HELPERS

.disc {
  list-style-type: disc;
}

.decimal-leading-zero {
  list-style: decimal-leading-zero; // 01, 02, 03
}

.reset-list {
  list-style: none;
  padding-left: 0;
}

ul.list-styled-sq {
  + li {
    &:before {
      width: $unit-x;
      height: $unit-x;
      background-color: palette(orange, base);
      content: '';
      position: absolute;
      left: 0;
      top: $unit-xsmall;    
    }
  }
}