.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-99 {
  z-index: 99;
}

.z-999 {
  z-index: 999;
}

.z-9999 {
  z-index: 9999;
}

.z-99999 {
  z-index: 99999;
}

.z-999999 {
  z-index: 999999;
}


.z-9999999 {
  z-index: 9999999;
}

.z-99999999 {
  z-index: 99999999;
}

.z-999999999 {
  z-index: 999999999;
}

.z-max {
  z-index: 2147483647;
}

.z-inherit {
  z-index: inherit;
}

.z-initial {
  z-index: initial;
}

.z-unset {
  z-index: unset;
}
