/* ==========================================================================
   MARGIN HELPERS
  ========================================================================== */

// TODO PABLO: Please fix me, I'm really ugly.
.m-auto {
  margin-left: auto !important;
  margin-right: auto !important;
  float: none !important;
}

.m-center {
  margin: 0 auto;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.m0 {
  margin: 0;
}

.mt0 {
  margin-top: 0;
}

.mr0 {
  margin-right: 0;
}

.mb0 {
  margin-bottom: 0;
}

.ml0 {
  margin-left: 0;
}

.mx0 {
  margin-left: 0;
  margin-right: 0;
}

.my0 {
  margin-top: 0;
  margin-bottom: 0;
}

.m-xxs {
  margin: $unit-xxs;
}

.mt-xxs {
  margin: $unit-xxs;
}

.mb-xxs {
  margin: $unit-xxs;
}

.mx-xxs {
  margin: $unit-xxs;
}

.my-xxs {
  margin: $unit-xxs;
}

.m-xs {
  margin: $unit-xs;
}

.mt-xs {
  margin-top: $unit-xs;
}

.mr-xs {
  margin-right: $unit-xs;
}

.mb-xs {
  margin-bottom: $unit-xs;
}

.ml-xs {
  margin-left: $unit-xs;
}

.mx-xs {
  margin-left: $unit-xs;
  margin-right: $unit-xs
}

.my-xs {
  margin-top: $unit-xs;
  margin-bottom: $unit-xs
}

.m-x {
  margin: $unit-x;
}

.mt-x {
  margin-top: $unit-x;
}

.mr-x {
  margin-right: $unit-x;
}

.mb-x {
  margin-bottom: $unit-x;
}

.ml-x {
  margin-left: $unit-x;
}

.mx-x {
  margin-left: $unit-x;
  margin-right: $unit-x;
}

.my-x {
  margin-top: $unit-x;
  margin-bottom: $unit-x;
}

.m-xx {
  margin: $unit-xx;
}

.mt-xx {
  margin-top: $unit-xx;
}

.mr-xx {
  margin-right: $unit-xx;
}

.mb-xx {
  margin-bottom: $unit-xx;
}

.ml-xx {
  margin-left: $unit-xx;
}

.mx-xx {
  margin-left: $unit-xx;
  margin-right: $unit-xx;
}

.my-xx {
  margin-top: $unit-xx;
  margin-bottom: $unit-xx;
}

.m-small {
  margin: $unit-small;
}

.mt-small {
  margin-top: $unit-small;
}

.mr-small {
  margin-right: $unit-small;
}

.mb-small {
  margin-bottom: $unit-small;
}

.ml-small {
  margin-left: $unit-small;
}

.mx-small {
  margin-left: $unit-small;
  margin-right: $unit-small;
}

.my-small {
  margin-top: $unit-small;
  margin-bottom: $unit-small;
}

.m-medium {
  margin: $unit-medium;
}

.mt-medium {
  margin-top: $unit-medium;
}

.mr-medium {
  margin-right: $unit-medium;
}

.mb-medium {
  margin-bottom: $unit-medium;
}

.ml-medium {
  margin-left: $unit-medium;
}

.mx-medium {
  margin-left: $unit-medium;
  margin-right: $unit-medium;
}

.my-medium {
  margin-top: $unit-medium;
  margin-bottom: $unit-medium;
}

.m-lrg {
  margin: $unit-lrg;
}

.mt-lrg {
  margin-top: $unit-lrg;
}

.mr-lrg {
  margin-right: $unit-lrg;
}

.mb-lrg {
  margin-bottom: $unit-lrg;
}

.ml-lrg {
  margin-left: $unit-lrg;
}

.mx-lrg {
  margin-left: $unit-lrg;
  margin-right: $unit-lrg;
}

.my-lrg {
  margin-top: $unit-lrg;
  margin-bottom: $unit-lrg;
}

.m-xl {
  margin: $unit-xl;
}

.mt-xl {
  margin-top: $unit-xl;
}

.mr-xl {
  margin-right: $unit-xl;
}

.mb-xl {
  margin-bottom: $unit-xl;
}

.ml-xl {
  margin-left: $unit-xl;
}

.mx-xl {
  margin-left: $unit-xl;
  margin-right: $unit-xl;
}

.my-xl {
  margin-top: $unit-xl;
  margin-bottom: $unit-xl;
}

.m-xxl {
  margin: $unit-xxl;
}

.mt-xxl {
  margin-top: $unit-xxl;
}

.mr-xxl {
  margin-right: $unit-xxl;
}

.mb-xxl {
  margin-bottom: $unit-xxl;
}

.ml-xxl {
  margin-left: $unit-xxl;
}

.mx-xxl {
  margin-left: $unit-xxl;
  margin-right: $unit-xxl;
}

.my-xxl {
  margin-top: $unit-xxl;
  margin-bottom: $unit-xxl;
}

.m-xxxl {
  margin: $unit-xxxl;
}

.mt-xxxl {
  margin-top: $unit-xxxl;
}

.mr-xxxl {
  margin-right: $unit-xxxl;
}

.mb-xxxl {
  margin-bottom: $unit-xxxl;
}

.ml-xxxl {
  margin-left: $unit-xxxl;
}

.mx-xxxl {
  margin-left: $unit-xxxl;
  margin-right: $unit-xxxl;
}

.my-xxxl {
  margin-top: $unit-xxxl;
  margin-bottom: $unit-xxxl;
}

.m-xxxxl {
  margin: $unit-xxxxl;
}

.mt-xxxxl {
  margin-top: $unit-xxxxl;
}

.mr-xxxxl {
  margin-right: $unit-xxxxl;
}

.mb-xxxxl {
  margin-bottom: $unit-xxxxl;
}

.ml-xxxxl {
  margin-left: $unit-xxxxl;
}

.mx-xxxxl {
  margin-left: $unit-xxxxl;
  margin-right: $unit-xxxxl;
}

.my-xxxxl {
  margin-top: $unit-xxxxl;
  margin-bottom: $unit-xxxxl;
}

.m-xxxxxl {
  margin: $unit-xxxxxl;
}

.mt-xxxxxl {
  margin-top: $unit-xxxxxl;
}

.mr-xxxxxl {
  margin-right: $unit-xxxxxl;
}

.mb-xxxxxl {
  margin-bottom: $unit-xxxxxl;
}

.ml-xxxxxl {
  margin-left: $unit-xxxxxl;
}

.mx-xxxxxl {
  margin-left: $unit-xxxxxl;
  margin-right: $unit-xxxxxl;
}

.my-xxxxxl {
  margin-top: $unit-xxxxxl;
  margin-bottom: $unit-xxxxxl;
}

.mb-xxxxxxl {
  margin-bottom: $unit-xxxxxxl;
}

.ml-xxxxxxl {
  margin-left: $unit-xxxxxxl;
}

.mx-xxxxxxl {
  margin-left: $unit-xxxxxxl;
  margin-right: $unit-xxxxxxl;
}

.my-xxxxxxl {
  margin-top: $unit-xxxxxxl;
  margin-bottom: $unit-xxxxxxl;
}

.mb-xxxxxxxl {
  margin-bottom: $unit-xxxxxxxl;
}

.ml-xxxxxxxl {
  margin-left: $unit-xxxxxxxl;
}

.mx-xxxxxxxl {
  margin-left: $unit-xxxxxxxl;
  margin-right: $unit-xxxxxxxl;
}

.my-xxxxxxxl {
  margin-top: $unit-xxxxxxxl;
  margin-bottom: $unit-xxxxxxxl;
}
