@include tablet-landscape {
  .med-m-auto {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
  }

  .med-m0 {
    margin: 0;
  }
  .med-mt0 {
    margin-top: 0;
  }
  .med-mr0 {
    margin-right: 0;
  }
  .med-mb0 {
    margin-bottom: 0;
  }
  .med-ml0 {
    margin-left: 0;
  }
  .med-mx0 {
    margin-left: 0;
    margin-right: 0;
  }
  .med-my0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .med-m-xs {
    margin: $unit-xs;
  }
  .med-mt-xs {
    margin-top: $unit-xs;
  }
  .med-mr-xs {
    margin-right: $unit-xs;
  }
  .med-mb-xs {
    margin-bottom: $unit-xs;
  }
  .med-ml-xs {
    margin-left: $unit-xs;
  }
  .med-mx-xs {
    margin-left: $unit-xs;
    margin-right: $unit-xs;
  }
  .med-my-xs {
    margin-top: $unit-xs;
    margin-bottom: $unit-xs;
  }

  .med-m-x {
    margin: $unit-x;
  }
  .med-mt-x {
    margin-top: $unit-x;
  }
  .med-mr-x {
    margin-right: $unit-x;
  }
  .med-mb-x {
    margin-bottom: $unit-x;
  }
  .med-ml-x {
    margin-left: $unit-x;
  }
  .med-mx-x {
    margin-left: $unit-x;
    margin-right: $unit-x;
  }
  .med-my-x {
    margin-top: $unit-x;
    margin-bottom: $unit-x;
  }

  .med-m-xx {
    margin: $unit-xx;
  }
  .med-mt-xx {
    margin-top: $unit-xx;
  }
  .med-mr-xx {
    margin-right: $unit-xx;
  }
  .med-mb-xx {
    margin-bottom: $unit-xx;
  }
  .med-ml-xx {
    margin-left: $unit-xx;
  }
  .med-mx-xx {
    margin-left: $unit-xx;
    margin-right: $unit-xx;
  }
  .med-my-xx {
    margin-top: $unit-xx;
    margin-bottom: $unit-xx;
  }

  .med-m-xxx {
    margin: $unit-xxx;
  }
  .med-mt-xxx {
    margin-top: $unit-xxx;
  }
  .med-mr-xxx {
    margin-right: $unit-xxx;
  }
  .med-mb-xxx {
    margin-bottom: $unit-xxx;
  }
  .med-ml-xxx {
    margin-left: $unit-xxx;
  }
  .med-mx-xxx {
    margin-left: $unit-xxx;
    margin-right: $unit-xxx;
  }
  .med-my-xxx {
    margin-top: $unit-xxx;
    margin-bottom: $unit-xxx;
  }    

  .med-m-small {
    margin: $unit-small;
  }
  .med-mt-small {
    margin-top: $unit-small;
  }
  .med-mr-small {
    margin-right: $unit-small;
  }
  .med-mb-small {
    margin-bottom: $unit-small;
  }
  .med-ml-small {
    margin-left: $unit-small;
  }
  .med-mx-small {
    margin-left: $unit-small;
    margin-right: $unit-small;
  }
  .med-my-small {
    margin-top: $unit-small;
    margin-bottom: $unit-small;
  }

  .med-m-xxxm {
    margin: $unit-xxxm;
  }
  .med-mt-xxxm {
    margin-top: $unit-xxxm;
  }
  .med-mr-xxxm {
    margin-right: $unit-xxxm;
  }
  .med-mb-xxxm {
    margin-bottom: $unit-xxxm;
  }
  .med-ml-xxxm {
    margin-left: $unit-xxxm;
  }
  .med-mx-xxxm {
    margin-left: $unit-xxxm;
    margin-right: $unit-xxxm;
  }
  .med-my-xxxm {
    margin-top: $unit-xxxm;
    margin-bottom: $unit-xxxm;
  }    

  .med-m-medium {
    margin: $unit-medium;
  }
  .med-mt-medium {
    margin-top: $unit-medium;
  }
  .med-mr-medium {
    margin-right: $unit-medium;
  }
  .med-mb-medium {
    margin-bottom: $unit-medium;
  }
  .med-ml-medium {
    margin-left: $unit-medium;
  }
  .med-mx-medium {
    margin-left: $unit-medium;
    margin-right: $unit-medium;
  }
  .med-my-medium {
    margin-top: $unit-medium;
    margin-bottom: $unit-medium;
  }

  .med-m-lrg {
    margin: $unit-lrg;
  }
  .med-mt-lrg {
    margin-top: $unit-lrg;
  }
  .med-mr-lrg {
    margin-right: $unit-lrg;
  }
  .med-mb-lrg {
    margin-bottom: $unit-lrg;
  }
  .med-ml-lrg {
    margin-left: $unit-lrg;
  }
  .med-mx-lrg {
    margin-left: $unit-lrg;
    margin-right: $unit-lrg;
  }
  .med-my-lrg {
    margin-top: $unit-lrg;
    margin-bottom: $unit-lrg;
  }

  .med-mx-l {
    margin-left: $unit-l;
    margin-right: $unit-l;
  }
  .med-my-l {
    margin-top: $unit-l;
    margin-bottom: $unit-l;
  }
  .med-mt-l {
    margin-top: $unit-l;
  }
  .med-mb-l {
    margin-bottom: $unit-l;
  }
  .med-ml-l {
    margin-left: $unit-l;
  }
  .med-mr-l {
    margin-right: $unit-l;
  }
  .med-m-l {
    margin: $unit-l;
  }  

  .med-m-xl {
    margin: $unit-xl;
  }
  .med-mt-xl {
    margin-top: $unit-xl;
  }
  .med-mr-xl {
    margin-right: $unit-xl;
  }
  .med-mb-xl {
    margin-bottom: $unit-xl;
  }
  .med-ml-xl {
    margin-left: $unit-xl;
  }
  .med-mx-xl {
    margin-left: $unit-xl;
    margin-right: $unit-xl;
  }
  .med-my-xl {
    margin-top: $unit-xl;
    margin-bottom: $unit-xl;
  }

  .med-m-xxl {
    margin: $unit-xxl;
  }
  .med-mt-xxl {
    margin-top: $unit-xxl;
  }
  .med-mr-xxl {
    margin-right: $unit-xxl;
  }
  .med-mb-xxl {
    margin-bottom: $unit-xxl;
  }
  .med-ml-xxl {
    margin-left: $unit-xxl;
  }
  .med-mx-xxl {
    margin-left: $unit-xxl;
    margin-right: $unit-xxl;
  }
  .med-my-xxl {
    margin-top: $unit-xxl;
    margin-bottom: $unit-xxl;
  }

  .med-m-xxxl {
    margin: $unit-xxxl;
  }
  .med-mt-xxxl {
    margin-top: $unit-xxxl;
  }
  .med-mr-xxxl {
    margin-right: $unit-xxxl;
  }
  .med-mb-xxxl {
    margin-bottom: $unit-xxxl;
  }
  .med-ml-xxxl {
    margin-left: $unit-xxxl;
  }
  .med-mx-xxxl {
    margin-left: $unit-xxxl;
    margin-right: $unit-xxxl;
  }
  .med-my-xxxl {
    margin-top: $unit-xxxl;
    margin-bottom: $unit-xxxl;
  }

  .med-m-xxxxl {
    margin: $unit-xxxxl;
  }
  .med-mt-xxxxl {
    margin-top: $unit-xxxxl;
  }
  .med-mr-xxxxl {
    margin-right: $unit-xxxxl;
  }
  .med-mb-xxxxl {
    margin-bottom: $unit-xxxxl;
  }
  .med-ml-xxxxl {
    margin-left: $unit-xxxxl;
  }
  .med-mx-xxxxl {
    margin-left: $unit-xxxxl;
    margin-right: $unit-xxxxl;
  }
  .med-my-xxxxl {
    margin-top: $unit-xxxxl;
    margin-bottom: $unit-xxxxl;
  }

  .med-m-xxxxxl {
    margin: $unit-xxxxxl;
  }
  .med-mt-xxxxxl {
    margin-top: $unit-xxxxxl;
  }
  .med-mr-xxxxxl {
    margin-right: $unit-xxxxxl;
  }
  .med-mb-xxxxxl {
    margin-bottom: $unit-xxxxxl;
  }
  .med-ml-xxxxxl {
    margin-left: $unit-xxxxxl;
  }
  .med-mx-xxxxxl {
    margin-left: $unit-xxxxxl;
    margin-right: $unit-xxxxxl;
  }
  .med-my-xxxxxl {
    margin-top: $unit-xxxxxl;
    margin-bottom: $unit-xxxxxl;
  }

  .med-mb-xxxxxxl {
    margin-bottom: $unit-xxxxxxl;
  }

  .med-ml-xxxxxxl {
    margin-left: $unit-xxxxxxl;
  }

  .med-mx-xxxxxxl {
    margin-left: $unit-xxxxxxl;
    margin-right: $unit-xxxxxxl;
  }

  .med-my-xxxxxxl {
    margin-top: $unit-xxxxxxl;
    margin-bottom: $unit-xxxxxxl;
  }

  .med-mb-xxxxxxxl {
    margin-bottom: $unit-xxxxxxxl;
  }

  .med-ml-xxxxxxxl {
    margin-left: $unit-xxxxxxxl;
  }

  .med-mx-xxxxxxxl {
    margin-left: $unit-xxxxxxxl;
    margin-right: $unit-xxxxxxxl;
  }

  .med-my-xxxxxxxl {
    margin-top: $unit-xxxxxxxl;
    margin-bottom: $unit-xxxxxxxl;
  }
}
