/* ==========================================================================
  XL DISPLAY HELPERS
  ========================================================================== */
@include laptop {
  .xl-f-left {
    float: left
  }
  .xl-f-right {
    float: right
  }
  .xl-hide {
    display: none
  }
  .xl-clear {
    clear: both
  }
  .xl-block {
    display: block
  }
  .xl-inline-block {
    display: inline-block
  }
  .xl-inline {
    display: inline
  }

  .xl-rotate-45 {
    transform: rotate(45deg)
  }
}
