/// LRG POSITION HELPERS
@include small-laptop {
  .lrg-pos-rel {
    position: relative;
  }
  .lrg-pos-abs {
    position: absolute;
  }
  .lrg-pos-fixed {
    position: fixed;
  }
  .lrg-pos-static  {
    position: static;
  }
}

/// LRG -> THE WHERE YOU WANT THESE TO BE MOVED OR PLACED...
@include small-laptop {
  .lrg-top-0 {
    top: 0;
  }
  .lrg-top-xs {
    top: $unit-xs;
  }
  .lrg-top-x {
    top: $unit-x;
  }
  .lrg-top-small {
    top: $unit-small;
  }
  .lrg-top-medium {
    top: $unit-medium;
  }
  .lrg-top-lrg {
    top: $unit-lrg;
  }
  .lrg-top-xl {
    top: $unit-xl;
  }
  .lrg-top-xxl {
    top: $unit-xxl;
  }
  .lrg-top-xxxl {
    top: $unit-xxxl;
  }
  .lrg-top-xxxxl {
    top: $unit-xxxxl;
  }
  .lrg-top-xxxxxl {
    top: $unit-xxxxxl;
  }
  .lrg-top-xxxxxxl {
    top: $unit-xxxxxxl;
  }
  .lrg-top-xxxxxxxl {
    top: $unit-xxxxxxxl;
  }

  .lrg-bottom-0 {
    bottom: 0;
  }
  .lrg-bottom-xs {
    bottom: $unit-xs;
  }
  .lrg-bottom-x {
    bottom: $unit-x;
  }
  .lrg-bottom-small {
    bottom: $unit-small;
  }
  .lrg-bottom-medium {
    bottom: $unit-medium;
  }
  .lrg-bottom-lrg {
    bottom: $unit-lrg;
  }
  .lrg-bottom-xl {
    bottom: $unit-xl;
  }
  .lrg-bottom-xxl {
    bottom: $unit-xxl;
  }
  .lrg-bottom-xxxl {
    bottom: $unit-xxxl;
  }
  .lrg-bottom-xxxxl {
    bottom: $unit-xxxxl;
  }
  .lrg-bottom-xxxxxl {
    bottom: $unit-xxxxxl;
  }
  .lrg-bottom-xxxxxxl {
    bottom: $unit-xxxxxxl;
  }
  .lrg-bottom-xxxxxxxl {
    bottom: $unit-xxxxxxxl;
  }

  .lrg-left-0 {
    left: 0;
  }
  .lrg-left-xs {
    left: $unit-xs;
  }
  .lrg-left-x {
    left: $unit-x;
  }
  .lrg-left-small {
    left: $unit-small;
  }
  .lrg-left-medium {
    left: $unit-medium;
  }
  .lrg-left-lrg {
    left: $unit-lrg;
  }
  .lrg-left-xl {
    left: $unit-xl;
  }
  .lrg-left-xxl {
    left: $unit-xxl;
  }
  .lrg-left-xxxl {
    left: $unit-xxxl;
  }
  .lrg-left-xxxxl {
    left: $unit-xxxxl;
  }
  .lrg-left-xxxxxl {
    left: $unit-xxxxxl;
  }
  .lrg-left-xxxxxxl {
    left: $unit-xxxxxxl;
  }
  .lrg-left-xxxxxxxl {
    left: $unit-xxxxxxxl;
  }

  .lrg-right-0 {
    right: 0;
  }
  .lrg-right-xs {
    right: $unit-xs;
  }
  .lrg-right-x {
    right: $unit-x;
  }
  .lrg-right-small {
    right: $unit-small;
  }
  .lrg-right-medium {
    right: $unit-medium;
  }
  .lrg-right-lrg {
    right: $unit-lrg;
  }
  .lrg-right-xl {
    right: $unit-xl;
  }
  .lrg-right-xxl {
    right: $unit-xxl;
  }
  .lrg-right-xxxl {
    right: $unit-xxxl;
  }
  .lrg-right-xxxxl {
    right: $unit-xxxxl;
  }
  .lrg-right-xxxxxl {
    right: $unit-xxxxxl;
  }
  .lrg-right-xxxxxxl {
    right: $unit-xxxxxxl;
  }
  .lrg-right-xxxxxxxl {
    right: $unit-xxxxxxxl;
  }

  /// PERCENTAGE BASED

  .lrg-left-10 {
    left: 10%;
  }
  .lrg-left-20 {
    left: 20%;
  }
  .lrg-left-30 {
    left: 30%;
  }
  .lrg-left-40 {
    left: 40%;
  }
  .lrg-left-50 {
    left: 50%;
  }
  .lrg-left-60 {
    left: 60%;
  }
  .lrg-left-70 {
    left: 70%;
  }
  .lrg-left-80 {
    left: 80%;
  }
  .lrg-left-90 {
    left: 90%;
  }
  .lrg-left-100 {
    left: 100%;
  }

  .lrg-right-10 {
    right: 10%;
  }
  .lrg-right-20 {
    right: 20%;
  }
  .lrg-right-30 {
    right: 30%;
  }
  .lrg-right-40 {
    right: 40%;
  }
  .lrg-right-50 {
    right: 50%;
  }
  .lrg-right-60 {
    right: 60%;
  }
  .lrg-right-70 {
    right: 70%;
  }
  .lrg-right-80 {
    right: 80%;
  }
  .lrg-right-90 {
    right: 90%;
  }
  .lrg-right-100 {
    right: 100%;
  }

  .lrg-top-10 {
    top: 10%;
  }
  .lrg-top-20 {
    top: 20%;
  }
  .lrg-top-30 {
    top: 30%;
  }
  .lrg-top-40 {
    top: 40%;
  }
  .lrg-top-50 {
    top: 50%;
  }
  .lrg-top-60 {
    top: 60%;
  }
  .lrg-top-70 {
    top: 70%;
  }
  .lrg-top-80 {
    top: 80%;
  }
  .lrg-top-90 {
    top: 90%;
  }
  .lrg-top-100 {
    top: 100%;
  }
  .lrg-top-110 {
    top: 110%;
  }

  .lrg-bottom-10 {
    bottom: 10%;
  }
  .lrg-bottom-20 {
    bottom: 20%;
  }
  .lrg-bottom-30 {
    bottom: 30%;
  }
  .lrg-bottom-40 {
    bottom: 40%;
  }
  .lrg-bottom-50 {
    bottom: 50%;
  }
  .lrg-bottom-60 {
    bottom: 60%;
  }
  .lrg-bottom-70 {
    bottom: 70%;
  }
  .lrg-bottom-80 {
    bottom: 80%;
  }
  .lrg-bottom-90 {
    bottom: 90%;
  }
  .lrg-bottom-100 {
    bottom: 100%;
  }

  /// NEGATIVE POSITIONING

  .lrg-neg-top-xs {
    top: -$unit-xs;
  }
  .lrg-neg-top-x {
    top: -$unit-x;
  }
  .lrg-neg-top-small {
    top: -$unit-small;
  }
  .lrg-neg-top-medium {
    top: -$unit-medium;
  }
  .lrg-neg-top-lrg {
    top: -$unit-lrg;
  }
  .lrg-neg-top-xl {
    top: -$unit-xl;
  }
  .lrg-neg-top-xxl {
    top: -$unit-xxl;
  }
  .lrg-neg-top-xxxl {
    top: -$unit-xxxl;
  }
  .lrg-neg-top-xxxxl {
    top: -$unit-xxxxl;
  }
  .lrg-neg-top-xxxxxl {
    top: -$unit-xxxxxl;
  }
  .lrg-neg-top-xxxxxxl {
    top: -$unit-xxxxxxl;
  }
  .lrg-neg-top-xxxxxxxl {
    top: -$unit-xxxxxxxl;
  }

  .lrg-neg-bottom-xs {
    bottom: -$unit-xs;
  }
  .lrg-neg-bottom-x {
    bottom: -$unit-x;
  }
  .lrg-neg-bottom-small {
    bottom: -$unit-small;
  }
  .lrg-neg-bottom-medium {
    bottom: -$unit-medium;
  }
  .lrg-neg-bottom-lrg {
    bottom: -$unit-lrg;
  }
  .lrg-neg-bottom-xl {
    bottom: -$unit-xl;
  }
  .lrg-neg-bottom-xxl {
    bottom: -$unit-xxl;
  }
  .lrg-neg-bottom-xxxl {
    bottom: -$unit-xxxl;
  }
  .lrg-neg-bottom-xxxxl {
    bottom: -$unit-xxxxl;
  }
  .lrg-neg-bottom-xxxxxl {
    bottom: -$unit-xxxxxl;
  }
  .lrg-neg-bottom-xxxxxxl {
    bottom: -$unit-xxxxxxl;
  }
  .lrg-neg-bottom-xxxxxxxl {
    bottom: -$unit-xxxxxxxl;
  }

  .lrg-neg-left-xs {
    left: -$unit-xs;
  }
  .lrg-neg-left-x {
    left: -$unit-x;
  }
  .lrg-neg-left-small {
    left: -$unit-small;
  }
  .lrg-neg-left-medium {
    left: -$unit-medium;
  }
  .lrg-neg-left-lrg {
    left: -$unit-lrg;
  }
  .lrg-neg-left-xl {
    left: -$unit-xl;
  }
  .lrg-neg-left-xxl {
    left: -$unit-xxl;
  }
  .lrg-neg-left-xxxl {
    left: -$unit-xxxl;
  }
  .lrg-neg-left-xxxl {
    left: -$unit-xxxxl;
  }
  .lrg-neg-left-xxxxxl {
    left: -$unit-xxxxxl;
  }
  .lrg-neg-left-xxxxxxl {
    left: -$unit-xxxxxxl;
  }
  .lrg-neg-left-xxxxxxxl {
    left: -$unit-xxxxxxxl;
  }

  .lrg-neg-right-xs {
    right: -$unit-xs;
  }
  .lrg-neg-right-x {
    right: -$unit-x;
  }
  .lrg-neg-right-small {
    right: -$unit-small;
  }
  .lrg-neg-right-medium {
    right: -$unit-medium;
  }
  .lrg-neg-right-lrg {
    right: -$unit-lrg;
  }
  .lrg-neg-right-xl {
    right: -$unit-xl;
  }
  .lrg-neg-right-xxl {
    right: -$unit-xxl;
  }
  .lrg-neg-right-xxxl {
    right: -$unit-xxxl;
  }
  .lrg-neg-right-xxxxl {
    right: -$unit-xxxxl;
  }
  .lrg-neg-right-xxxxxl {
    right: -$unit-xxxxxl;
  }
  .lrg-neg-right-xxxxxxl {
    right: -$unit-xxxxxxl;
  }
  .lrg-neg-right-xxxxxxxxl {
    right: -$unit-xxxxxxxl;
  }

  // OBJECT FIT POSITIONING

  .lrg-object-fit-100-0 {
    object-position: 100% 0%;
  }

  .lrg-object-fit-100-10 {
    object-position: 100% 10%;
  }

  .lrg-object-fit-100-20 {
    object-position: 100% 20%;
  }

  .lrg-object-fit-100-30 {
    object-position: 100% 30%;
  }

  .lrg-object-fit-100-40 {
    object-position: 100% 40%;
  }

  .lrg-object-fit-100-50 {
    object-position: 100% 50%;
  }

  .lrg-object-fit-100-60 {
    object-position: 100% 60%;
  }

  .lrg-object-fit-100-70 {
    object-position: 100% 70%;
  }

  .lrg-object-fit-100-80 {
    object-position: 100% 80%;
  }

  .lrg-object-fit-100-90 {
    object-position: 100% 90%;
  }

  .lrg-object-fit-100 {
    object-position: 100% 100%;
  }


  .lrg-object-fit-50-0 {
    object-position: 50% 0%;
  }

  .lrg-object-fit-50-10 {
    object-position: 50% 10%;
  }

  .lrg-object-fit-50-20 {
    object-position: 50% 20%;
  }

  .lrg-object-fit-50-30 {
    object-position: 50% 30%;
  }

  .lrg-object-fit-50-40 {
    object-position: 50% 40%;
  }

  .lrg-object-fit-center {
    object-position: 50% 50%;
  }

  .lrg-object-fit-50-60 {
    object-position: 50% 60%;
  }

  .lrg-object-fit-50-70 {
    object-position: 50% 70%;
  }

  .lrg-object-fit-50-80 {
    object-position: 50% 80%;
  }

  .lrg-object-fit-50-90 {
    object-position: 50% 90%;
  }

  .lrg-object-fit-50-100 {
    object-position: 50% 100%;
  }


  .lrg-object-fit-0 {
    object-position: 0% 0%;
  }

  .lrg-object-fit-0-10 {
    object-position: 0% 10%;
  }

  .lrg-object-fit-0-20 {
    object-position: 0% 20%;
  }

  .lrg-object-fit-0-30 {
    object-position: 0% 30%;
  }

  .lrg-object-fit-0-40 {
    object-position: 0% 40%;
  }

  .lrg-object-fit-0-50 {
    object-position: 0% 50%;
  }

  .lrg-object-fit-0-60 {
    object-position: 0% 60%;
  }

  .lrg-object-fit-0-70 {
    object-position: 0% 70%;
  }

  .lrg-object-fit-0-80 {
    object-position: 0% 80%;
  }

  .lrg-object-fit-0-90 {
    object-position: 0% 90%;
  }

  .lrg-object-fit-0-100 {
    object-position: 0% 100%;
  }  
}
