/* ==========================================================================
   POSITION HELPERS
  ========================================================================== */

//RELATIVE//////////////
.pos-rel { position: relative; }

//ABSOLUTE//////////////
.pos-abs { position: absolute; }

//FIXED///////////////
.pos-fixed { position: fixed; }

//THE WHERE YOU WANT THESE TO BE MOVED OR PLACED...

.top-0 { top: 0 }
.top-xs { top: 4px }
.top-x { top: 8px }
.top-small { top: 16px }
.top-medium { top: 24px }
.top-lrg { top: 32px }
.top-xl { top: 40px }
.top-xxl { top: 48px}
.top-xxxl { top: 56px}
.top-xxxxl { top: 64px}

.bottom-0 { bottom: 0 }
.bottom-xs { bottom: 4px }
.bottom-x { bottom: 8px }
.bottom-small { bottom: 16px }
.bottom-medium { bottom: 24px }
.bottom-lrg { bottom: 32px }
.bottom-xl { bottom: 40px }
.bottom-xxl { bottom: 48px}
.bottom-xxxl { bottom: 56px}
.bottom-xxxxl { bottom: 64px}


.left-0 { left: 0 }
.left-xs { left: 4px }
.left-x { left: 8px }
.left-small { left: 16px }
.left-medium { left: 24px }
.left-lrg { left: 32px }
.left-xl { left: 40px }
.left-xxl { left: 48px}
.left-xxxl { left: 56px}
.left-xxxl { left: 64px}

.right-0 { right: 0 }
.right-xs { right: 4px }
.right-x { right: 8px }
.right-small { right: 16px }
.right-medium { right: 24px }
.right-lrg { right: 32px }
.right-xl { right: 40px }
.right-xxl { right: 48px}
.right-xxxl { right: 56px}
.right-xxxxl { right: 64px}

//NEGATIVE POSITIONING/////////////////////////////////////

.neg-top-xs { top: -4px }
.neg-top-x { top: -8px }
.neg-top-small { top: -16px }
.neg-top-medium { top: -24px }
.neg-top-lrg { top: -32px }
.neg-top-xl { top: -40px }
.neg-top-xxl { top: -48px}
.neg-top-xxxl { top: -56px}
.neg-top-xxxxl { top: -64px}

.neg-bottom-xs { bottom: -4px }
.neg-bottom-x { bottom: -8px }
.neg-bottom-small { bottom: -16px }
.neg-bottom-medium { bottom: -24px }
.neg-bottom-lrg { bottom: -32px }
.neg-bottom-xl { bottom: -40px }
.neg-bottom-xxl { bottom: -48px}
.neg-bottom-xxxl { bottom: -56px}
.neg-bottom-xxxxl { bottom: -64px}


.neg-left-xs { left: -4px }
.neg-left-x { left: -8px }
.neg-left-small { left: -16px }
.neg-left-medium { left: -24px }
.neg-left-lrg { left: -32px }
.neg-left-xl { left: -40px }
.neg-left-xxl { left: -48px}
.neg-left-xxxl { left: -56px}
.neg-left-xxxl { left: -64px}

.neg-right-xs { right: -4px }
.neg-right-x { right: -8px }
.neg-right-small { right: -16px }
.neg-right-medium { right: -24px }
.neg-right-lrg { right: -32px }
.neg-right-xl { right: -40px }
.neg-right-xxl { right: -48px}
.neg-right-xxxl { right: -56px}
.neg-right-xxxxl { right: -64px}
