/* ==========================================================================
   POSITION HELPERS
  ========================================================================== */

// RELATIVE
.pos-rel {
  position: relative;
}

// ABSOLUTE
.pos-abs {
  position: absolute;
}

// FIXED
.pos-fixed {
  position: fixed;
}

// THE WHERE YOU WANT THESE TO BE MOVED OR PLACED...

.top-0 {
  top: 0;
}
.top-xs {
  top: 4px;
}
.top-x {
  top: 8px;
}
.top-small {
  top: 16px;
}
.top-medium {
  top: 24px;
}
.top-lrg {
  top: 32px;
}
.top-xl {
  top: 40px;
}
.top-xxl {
  top: 48px;
}
.top-xxxl {
  top: 56px;
}
.top-xxxxl {
  top: 64px;
}
.top-xxxxxl {
  top: 72px;
}
.top-xxxxxxl {
  top: 80px;
}
.top-xxxxxxxl {
  top: 88px;
}

.bottom-0 {
  bottom: 0;
}
.bottom-xs {
  bottom: 4px;
}
.bottom-x {
  bottom: 8px;
}
.bottom-small {
  bottom: 16px;
}
.bottom-medium {
  bottom: 24px;
}
.bottom-lrg {
  bottom: 32px;
}
.bottom-xl {
  bottom: 40px;
}
.bottom-xxl {
  bottom: 48px;
}
.bottom-xxxl {
  bottom: 56px;
}
.bottom-xxxxl {
  bottom: 64px;
}
.bottom-xxxxxl {
  bottom: 72px;
}
.bottom-xxxxxxl {
  bottom: 80px;
}
.bottom-xxxxxxxl {
  bottom: 88px;
}

.left-0 {
  left: 0;
}
.left-xs {
  left: 4px;
}
.left-x {
  left: 8px;
}
.left-small {
  left: 16px;
}
.left-medium {
  left: 24px;
}
.left-lrg {
  left: 32px;
}
.left-xl {
  left: 40px;
}
.left-xxl {
  left: 48px;
}
.left-xxxl {
  left: 56px;
}
.left-xxxxl {
  left: 64px;
}
.left-xxxxxl {
  left: 72px;
}
.left-xxxxxxl {
  left: 80px;
}
.left-xxxxxxxl {
  left: 88px;
}

.right-0 {
  right: 0;
}
.right-xs {
  right: 4px;
}
.right-x {
  right: 8px;
}
.right-small {
  right: 16px;
}
.right-medium {
  right: 24px;
}
.right-lrg {
  right: 32px;
}
.right-xl {
  right: 40px;
}
.right-xxl {
  right: 48px;
}
.right-xxxl {
  right: 56px;
}
.right-xxxxl {
  right: 64px;
}
.right-xxxxxl {
  right: 72px;
}
.right-xxxxxxl {
  right: 80px;
}
.right-xxxxxxxl {
  right: 88px;
}

// PERCENTAGE BASED

.left-10 {
  left: 10%;
}
.left-20 {
  left: 20%;
}
.left-30 {
  left: 30%;
}
.left-40 {
  left: 40%;
}
.left-50 {
  left: 50%;
}
.left-60 {
  left: 60%;
}
.left-70 {
  left: 70%;
}
.left-80 {
  left: 80%;
}
.left-90 {
  left: 90%;
}
.left-100 {
  left: 100%;
}

.right-10 {
  right: 10%;
}
.right-20 {
  right: 20%;
}
.right-30 {
  right: 30%;
}
.right-40 {
  right: 40%;
}
.right-50 {
  right: 50%;
}
.right-60 {
  right: 60%;
}
.right-70 {
  right: 70%;
}
.right-80 {
  right: 80%;
}
.right-90 {
  right: 90%;
}
.right-100 {
  right: 100%;
}

.top-10 {
  top: 10%;
}
.top-20 {
  top: 20%;
}
.top-30 {
  top: 30%;
}
.top-40 {
  top: 40%;
}
.top-50 {
  top: 50%;
}
.top-60 {
  top: 60%;
}
.top-70 {
  top: 70%;
}
.top-80 {
  top: 80%;
}
.top-90 {
  top: 90%;
}
.top-100 {
  top: 100%;
}
.top-110 {
  top: 110%;
}

.bottom-10 {
  bottom: 10%;
}
.bottom-20 {
  bottom: 20%;
}
.bottom-30 {
  bottom: 30%;
}
.bottom-40 {
  bottom: 40%;
}
.bottom-50 {
  bottom: 50%;
}
.bottom-60 {
  bottom: 60%;
}
.bottom-70 {
  bottom: 70%;
}
.bottom-80 {
  bottom: 80%;
}
.bottom-90 {
  bottom: 90%;
}
.bottom-100 {
  bottom: 100%;
}

//NEGATIVE POSITIONING

.neg-top-xs {
  top: -4px;
}
.neg-top-x {
  top: -8px;
}
.neg-top-small {
  top: -16px;
}
.neg-top-medium {
  top: -24px;
}
.neg-top-lrg {
  top: -32px;
}
.neg-top-xl {
  top: -40px;
}
.neg-top-xxl {
  top: -48px;
}
.neg-top-xxxl {
  top: -56px;
}
.neg-top-xxxxl {
  top: -64px;
}
.neg-top-xxxxxl {
  top: -72px;
}
.neg-top-xxxxxxl {
  top: -80px;
}
.neg-top-xxxxxxxl {
  top: -88px;
}

.neg-bottom-xs {
  bottom: -4px;
}
.neg-bottom-x {
  bottom: -8px;
}
.neg-bottom-small {
  bottom: -16px;
}
.neg-bottom-medium {
  bottom: -24px;
}
.neg-bottom-lrg {
  bottom: -32px;
}
.neg-bottom-xl {
  bottom: -40px;
}
.neg-bottom-xxl {
  bottom: -48px;
}
.neg-bottom-xxxl {
  bottom: -56px;
}
.neg-bottom-xxxxl {
  bottom: -64px;
}
.neg-bottom-xxxxxl {
  bottom: -72px;
}
.neg-bottom-xxxxxxl {
  bottom: -80px;
}
.neg-bottom-xxxxxxxl {
  bottom: -88px;
}

.neg-left-xs {
  left: -4px;
}
.neg-left-x {
  left: -8px;
}
.neg-left-small {
  left: -16px;
}
.neg-left-medium {
  left: -24px;
}
.neg-left-lrg {
  left: -32px;
}
.neg-left-xl {
  left: -40px;
}
.neg-left-xxl {
  left: -48px;
}
.neg-left-xxxl {
  left: -56px;
}
.neg-left-xxxl {
  left: -64px;
}
.neg-left-xxxxxl {
  left: -72px;
}
.neg-left-xxxxxxl {
  left: -80px;
}
.neg-left-xxxxxxxl {
  left: -88px;
}

.neg-right-xs {
  right: -4px;
}
.neg-right-x {
  right: -8px;
}
.neg-right-small {
  right: -16px;
}
.neg-right-medium {
  right: -24px;
}
.neg-right-lrg {
  right: -32px;
}
.neg-right-xl {
  right: -40px;
}
.neg-right-xxl {
  right: -48px;
}
.neg-right-xxxl {
  right: -56px;
}
.neg-right-xxxxl {
  right: -64px;
}
.neg-right-xxxxxl {
  right: -72px;
}
.neg-right-xxxxxxl {
  right: -80px;
}
.neg-right-xxxxxxxxl {
  right: -88px;
}
