/* ==========================================================================
   @LRG RESPONSIVE TYPE HELPERS
  ========================================================================== */

@include small-laptop {
  .lrg-fs-1 {
    font-size: $unit-medium;
  }
  .lrg-fs-2 {
    font-size: 22px;
  }
  .lrg-fs-3 {
    font-size: 18px;
  }
  .lrg-fs-3-5 {
    font-size: 17px;
  }  
  .lrg-fs-4 {
    font-size: $unit-small;
  }
  .lrg-fs-4-5 {
    font-size: 15px;
  }  
  .lrg-fs-5 {
    font-size: 14px;
  }
  .lrg-fs-6 {
    font-size: 12px;
  }
}
