/* ==========================================================================
   @MED RESPONSIVE TYPE HELPERS
  ========================================================================== */

@include tablet-landscape {
  .med-fs-1 {
    font-size: $unit-medium;
  }
  .med-fs-2 {
    font-size: 22px;
  }
  .med-fs-2-25 {
    font-size: 21px;
  }   
  .med-fs-2-5 {
    font-size: 20px;
  }   
  .med-fs-3 {
    font-size: 18px;
  }
  .med-fs-3-5 {
    font-size: 17px;
  }  
  .med-fs-4 {
    font-size: $unit-small;
  }
  .med-fs-4-5 {
    font-size: 15px;
  }
  .med-fs-5 {
    font-size: 14px;
  }
  .med-fs-5-5 {
    font-size: 13px;
  }    
  .med-fs-6 {
    font-size: 12px;
  }
}
