/* ==========================================================================
   @TAB RESPONSIVE TYPE HELPERS
  ========================================================================== */

@include tablet-portrait {
  .tab-fs-1 {
    font-size: $unit-medium;
  }
  .tab-fs-2 {
    font-size: 22px;
  }
  .tab-fs-3 {
    font-size: 18px;
  }
  .tab-fs-4 {
    font-size: $unit-small;
  }
  .tab-fs-5 {
    font-size: 14px;
  }
  .tab-fs-6 {
    font-size: 12px;
  }
}
