/* ==========================================================================
   TYPE HELPERS
  ========================================================================== */
// FS
.fs-1 {
  font-size: $unit-medium;
}

.fs-2 {
  font-size: 22px;
}

.fs-2-25 {
  font-size: 21px;
} 

.fs-2-5 {
  font-size: 20px;
} 

.fs-3 {
  font-size: 18px;
}

.fs-3-5 {
  font-size: 17px;
}

.fs-4 {
  font-size: $unit-small;
}

.fs-4-5 {
  font-size: 15px;
}

.fs-5 {
  font-size: 14px;
}

.fs-5-5 {
  font-size: 13px;
}  

.fs-6 {
  font-size: 12px;
}
