/* ==========================================================================
   TYPE HELPERS
  ========================================================================== */
// FS
.fs-1 {
  font-size: $unit-medium;
}

.fs-2 {
  font-size: 22px;
}

.fs-3 {
  font-size: 18px;
}

.fs-4 {
  font-size: $unit-small;
}

.fs-5 {
  font-size: 14px;
}

.fs-6 {
  font-size: 12px;
}
