/* ==========================================================================
   @XL RESPONSIVE TYPE HELPERS
  ========================================================================== */

@include laptop {
  .xl-fs-1 {
    font-size: $unit-medium;
  }
  .xl-fs-2 {
    font-size: 22px;
  }
  .xl-fs-3 {
    font-size: 18px;
  }
  .xl-fs-3-5 {
    font-size: 17px;
  }  
  .xl-fs-4 {
    font-size: $unit-small;
  }
  .xl-fs-4-5 {
    font-size: 15px;
  }   
  .xl-fs-5 {
    font-size: 14px;
  }
  .xl-fs-6 {
    font-size: 12px;
  }
}
