.focus-no-outline {
  &:focus {
    outline: none;
  }
}

.hover-select {
  &:hover {
    opacity: .8;
  }
}

.active-select {
  &:checked {
    font-weight: 700;
    font-family: "AvenirNextDemi";
  }
}

.unselect {
  opacity: .4;
}