body {
  background: $white;
  color: $app-color-text;
  font-size: $unit-small - 2px;
  font-family: $base-font-family;
  letter-spacing: 0.05px;
  line-height: $unit-medium;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include animation("fadeIn .3s ease-in");

  @include laptop {
    font-size: $unit-small;
  }

  width: 100%;
}
