button, .c-btn, .button {
  appearance: none;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  border-radius: 4px;
  padding: 0 24px;
  text-align: center;
  font-weight: 500;
  box-shadow: none;
  cursor: pointer;
  text-decoration: none;
  transition: all .3s ease-in;

  &:focus {
    outline: none;
  }
}

.btn-count-has-been-updated {
  background: palette(orange, base) !important;
  color: $white !important;
}

button[disabled]{
  background: palette(grey, xxx-light);

  &:hover {
    background: palette(grey, xxx-light);
  }

}