.c-btn-small {
  appearance: none;
  height: $unit-lrg;
  line-height: $unit-lrg;
  font-size: 14px;
  border-radius: $unit-xs;
  padding: 0 $unit-small;
  text-align: center;
  font-weight: 500;
  box-shadow: none;
  cursor: pointer;
}
