button,
.c-btn,
.button {
  appearance: none;
  height: $unit-xxl;
  line-height: $unit-xxl;
  font-size: 14px;
  border-radius: $unit-xs;
  padding: 0 $unit-medium;
  text-align: center;
  font-weight: 500;
  box-shadow: none;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in;

  &:focus {
    outline: none;
  }
}

.btn-count-has-been-updated {
  background: palette(orange, base) !important;
  color: $white !important;
}

button[disabled] {
  background: palette(grey, xxx-light);

  &:hover {
    background: palette(grey, xxx-light);
  }
}

.c-btn-site {
  display: inline-block;
  line-height: 1.25;
  letter-spacing: 0.59px;
  transition: background 0.1s ease-out;

  &:hover {
    background: palette(orange, hover);
    color: $white;
    transition: background 0.15s ease-in;
  }

  &.c-btn-site-outline {
    &:hover {
      background-color: palette(white, hover);
      color: palette(orange, base);
    }
  }
}
