.custom-select {
  cursor: pointer;
  display: inline-block;
  height: 48px;
  line-height: 48px;

  /*
    We're only using transclusion so the templateless directives are added the DOM.
    Their values and HTML contents are then processed by the main directive, so we don't
    really want these to show up in the view.
  */
  ng-transclude {
    display: none !important;
  }

  .select-match {
    display: table !important; /* Overriding .select-wrapper for now */
    width: 100%;
    height: 100%;
    table-layout: fixed;
    overflow-x: hidden;
    white-space: nowrap;

    .selected-option {
      display: table-cell;
      vertical-align: middle;
      overflow: hidden;
      width: 100%;
      padding-left: 16px;
    }

    .select-spinner {
      position: absolute;
      right: 34px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .select-dropdown {
    z-index: 9999;
    position: absolute;
    left: -2px; /* TODO: Why doesn't it align with the parent properly? */
    right: -2px;
    top: 100%;
    min-width: 300px;
    background: $white;
    border: 1px solid palette(grey, xx-light);

    .select-search {
      padding: 8px;

      input[type="search"] {
        height: 36px;
        font-size: 0.9em;
      }
    }

    .select-options {
      border-top: 1px solid palette(grey, xx-light);
      max-height: 200px;
      overflow-y: auto;

      .select-option {
        display: block;
        border-bottom: 1px solid palette(grey, xx-light);
        padding: 4px 16px;
        min-height: 34px;

        &.no-available-options {
          pointer-events: none;
          opacity: 0.5;
          font-size: 0.85em;
        }
      }
    }
  }
}
