input.input-file {
  background: none;
  appearance: none;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  + label {
    font-size: 14px;
    color: white;
    background-color: palette(orange, base);
    display: inline-block;
    height: 48px;
    line-height: 48px;
    border-radius: 4px;
    padding: 0 24px;
    cursor: pointer;
  }

  input.input-file + label,
  input.input-file + label:hover {
    background-color: palette(cyan, base);
  }
}
