input.input-file {
  background: none;
  appearance: none;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  + label {
    font-size: 14px;
    color: white;
    background-color: palette(orange, base);
    display: inline-block;
    height: $unit-xxl;
    line-height: $unit-xxl;
    border-radius: $unit-xs;
    padding: 0 $unit-medium;
    cursor: pointer;
  }

  input.input-file + label,
  input.input-file + label:hover {
    background-color: palette(blue, base);
  }
}
