.ui-icon-xl {
  width: 60px;
  height: 60px;
}

.ui-icon-big {
  width: $unit-xl;
  height: $unit-xl;
}

.ui-icon {
  width: $unit-lrg;
  height: $unit-lrg;
}

.ui-icon-medium {
  width: 22px;
  height: 22px;
}

.ui-icon-small {
  width: $unit-small;
  height: $unit-small;
}

.stroke-width-1 {
  stroke-width: 1;
}

.stroke-width-2 {
  stroke-width: 2;
}
