input {
  height: $unit-xxl;
  line-height: $unit-xxl;
  padding: 0 $unit-small;
  background: $white;
  border: 1px solid palette(grey, xxx-light);
  border-radius: $unit-xs;
  display: block;
  width: 100%;
  font-size: $base-font-size;
  transition: border-color 0.3s ease-in;
  -webkit-box-shadow: 0 0 0 1000px white inset;

  &:hover,
  &:focus {
    border-color: palette(blue, base);
    outline: none !important;
  }
}

.mini-input-grower {
  width: 300px;

  @include tablet-landscape {
    width: $unit-xxxxxxl;
    transition: all 0.3s ease-in;
    &:focus {
      width: 180px;
    }
  }
}
