ul.pagination {
  display: flex;
  a {
    margin: 0 $unit-xs;
  }
}

ul.pagination li.current a {
  color: $white !important;
  background-color: palette(blue, base);
  padding: $unit-xs $unit-x;
  border-radius: $unit-xs;
}

.search-events {
  background-image: url("images/search.svg");
  background-repeat: no-repeat;
  background-position: 0 50% !important;
}

.search-event-wrapper:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: $unit-xxl;
  height: $unit-xxl;
  background: url("images/search.svg") no-repeat left;
}
