.c-select-wrapper {
  height: $unit-xxl;
  background: #fff;

  input,
  select,
  .select-match {
    appearance: none;
    height: $unit-xxl;
    line-height: $unit-xxl;
    border-radius: 2px;
    -webkit-appearance: none;
    padding-left: $unit-x;
    background: transparent;
    background-image: url("images/dropdown.svg");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: $unit-xxl;
    width: 100%;
    border: 1px solid palette(grey, xxx-light);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: $unit-xxxl;
    font-size: 14px;

    &:hover {
      background: transparent;
      background-image: url("images/dropdown.svg");
      background-position: 100% 50%;
      background-repeat: no-repeat;
      background-size: $unit-xxl;
      border-color: palette(grey, x-light);
    }

    &:focus {
      border-color: palette(cyan, base);
    }
  }
  &:after {
    @include pseudo;
    width: 1px;
    height: $unit-xxl;
    right: 47px;
    top: 0;
    bottom: 0;
    background: palette(grey, xxx-light);
  }
}

.basic-select-wrapper {
  background: $white;

  input,
  select,
  .basic-select {
    appearance: none;
    height: $unit-xxl;
    line-height: $unit-xxl;
    border-radius: 2px;
    -webkit-appearance: none;
    padding-left: $unit-small;
    background: transparent;
    background-image: url("images/dropdown.svg");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: $unit-xxl;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: $unit-xxxl;
    font-size: 14px;
  }
}

.c-select-small {
  height: $unit-lrg;

  select {
    height: $unit-lrg;
    line-height: $unit-lrg;
    background-size: $unit-lrg;
  }
}
