.yellow-disc {
  li {
    &:before {
      position: absolute;
      left: 0;
      top: $unit-x;
      border-radius: $unit-x;
      content: "";
      width: $unit-x;
      height: $unit-x;
      background: palette(yellow, base);
      display: block;
    }
  }
}

.list-styled-sq {
  li {
    &:before {
      width: $unit-x;
      height: $unit-x;
      background-color: palette(orange, base);
      content: '';
      position: absolute;
      left: 0;
      top: $unit-xsmall;    
    }
  }
}